[2021-10-14 05:08] dotMorten commented on #1552
@oldnewthing Thanks for the detailed answer. Much appreciated. Although I don't like the developer experience this creates, it does make a lot of sense

[2021-10-14 09:25] rkarman commented on #1255
Thanks for confirming @riverar ! Regarding the import: With Preview 2 you can stop using imports and instead use the newly added WinRT wrappers for this: Microsoft.UI.Win32Interop.GetWindowIdFromWindow(windowId).

[2021-10-14 09:25] #1255 closed

[2021-10-14 18:56] jvintzel commented on #1480
Thank you for the feedback.  Its not the goal of the app installation flow to elevate and install certificates, primarily for security concerns to the device.  IRT making it easier to get trusted certificates we are currently in a private preview for the Azure Code Signing service to help in this area.

[2021-10-14 19:31] wjk commented on #1480
Why is it still in private preview, given that it was announced some three or four years ago? What's taking so long?

[2021-10-15 01:39] drewnoakes commented on #1525
I took a look into this from the VS side and filed PR https://github.com/dotnet/project-system/pull/7698 to help diagnose this kind of issue in future.

With that change, the output would now include:

[code]

You can see there's a very long semicolon-delimited list of paths being treated as a single path. My guess is that the WindowsAppSDK is incorrectly producing its inputs.

[2021-10-15 02:17] andreww-msft opened #1599 "PATH Environment Variable Corruption Issue (Fixed in Preview 3)"
**This issue has been fixed in 1.0 Preview 3, released on 10/27!!** If you've previously used 1.0 Preview 1 or Preview 2, you still must follow the steps below to fix your path.

The new EnvironmentManager API in 1.0 Preview 1 and Preview 2 of the Windows App SDK includes a mechanism to clean up any environment variable changes made by a packaged app when that app is uninstalled. This feature is i

[2021-10-15 12:11] rkarman commented on #346
With Windows 11 now official/shipped I am close this issue with a "won't fix". The snap flyout menu you get when hovering over the maximize button is the way we provide snapping functionality outside of dragging the window into one of the snap zones.

[2021-10-16 14:12] #49 closed

[2021-10-16 23:05] kmgallahan commented on #1599
So as long as you don't uninstall any packaged app on the system the bug shouldn't trigger?

Do any packaged apps ever get uninstalled by Visual Studio automatically while developing packaged apps?

Trying to balance productivity of downgrading vs. just being careful. Is Preview 3 coming relatively soon™?

[2021-10-17 03:32] ParkhutRoman commented on #1599
It's not like windows will start crashing with corrupted PATH environment variables(I didn't even notice it for 2 months). For me the way out of this is open PowerShell window with given above 2 part of script, and runing it after work, it is too tedious for me to roll back to 0.8.5

[2021-10-18 03:50] jonwis opened #1606 "PowerNotifications::APITests fails for systems with a UPS/battery"
My system has a UPS, so the "get battery status" fails here:

[code]

Code should either mock the platform APIs to control the behavior, or compare the result of calling the platform API against what this wrapper returns.

[2021-10-19 00:48] vaheeshta opened #1614 "Support Push and Local Toast Notifications for Packaged and Unpackaged Apps"
# Proposal: Support Push and Local Toast Notifications for Packaged and Unpackaged Apps

## Summary
This feature's goal is to allow Windows apps to send push and local toast notifications and handle activation using a common set of APIs.

## Rationale
* The toast notification development experience should not be dependent on packaging. Both packaged and unpackaged apps should be able to register,

[2021-10-19 10:26] Alexander-Kamenchuk opened #1617 "Different accent colors on Windows10 and Windows11"
**Describe the bug**
Brushes such as AccentLight2 AccentLight3 or AccentDark2 look different on Windows10 and Windows11.
This changes the color presentation of the application and negatively affects visual states if these colors are used there.

**Steps to reproduce the bug**
[code]
System color "Yellow Gold" with the value # FFB900

**Expected behavior**
Colors should look the same

**Screenshots

[2021-10-19 11:18] harvinders opened #1618 "Unable to reliably open WinUI 3 apps using System.Diagnostics.Process"
**Describe the bug**

I am trying to test my app using UIAutomation and attempted following code to open the installed WinUI3 application

[code]
`ApplicationProcess = Process.Start(startInfo)` returns before the application becomes visible, and the important things is that the method returns `null`.

Also, ` startInfo.WindowStyle = ProcessWindowStyle.Maximized; ` has no impact.

**Expected behavi

[2021-10-19 11:26] harvinders opened #1619 "Unable to pass arguments to the WinUI 3 application"
**Describe the bug**

Command line arguments are not made available to the application.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create an WinUI packaged application
2. pass commandline argument as shown here
![image](https://user-images.githubusercontent.com/8557046/137899823-98a42ef7-5ebd-431c-a0fd-14b5f9fd738f.png)

3. The code below `args.Arguments` is `null`
[code]

[2021-10-20 06:20] jarno9981 opened #1626 "Tabs in titlebar"
Please add possibilty  to for example add the tabs in to title bar (titlebar extended just like uwp)

[2021-10-20 06:56] asklar commented on #1618
Launching an app this way does not wait until the app becomes visible, it doesn't actually even wait until the app launches. It starts an explorer.exe instance asking to open that appsfolder location, explorer realizes it isn't the main (usually the only) explorer instance, so it sends a message to the main explorer instance to open that location, and exits. At that point, your app would get that

[2021-10-20 06:57] #1618 closed, assigned to nobody

[2021-10-20 07:01] #1619 closed, assigned to nobody

[2021-10-20 08:42] riverar commented on #1619
Thanks just wanted to close the loop with @harvinders :)

[2021-10-20 14:47] jaigak opened #1627 "Replace all old file picker APIs and make them a wrapper on top of WinRT Picker APIs"
# Proposal: Replace all old file picker APIs and make them a wrapper on top of WinRT Picker APIs
Even though the Explorer based picker is now preferred, many apps are still using old style pickers. Even the Explorer based picker lacks some features like file picker apps when accessed through the IFileDialog interface. Consider replacing those APIs and making them a wrapper on top of WinRT picker A

[2021-10-20 18:29] mqudsi commented on #1245
@brialmsft any chance you could just let me know if this will work at some point in non-UWP contexts or if we'll need to come up with another solution in lieu of background tasks?

[2021-10-20 20:31] glanium opened #1629 "File access using FileStream failed"
### Describe the bug

it is impossible to access File using FileStream??

[code]

above code cause Exception
message is "ファイル名、ディレクトリ名、またはボリューム ラベルの構文が間違っています。 : 'C:\\WINDOWS\\SysWOW64\\‪F:\\hoge.txt'"

Why path is prefixed with C:\\WINDOWS\\SysWOW64\\‪ ???

### Steps to reproduce the bug

create empty project
put code that use file stream to access File like the following

[code]

then exception

[2021-10-20 20:31] beeradmoore commented on #1626
@ParkhutRoman AFAIK that is still broken for WinUI3.

[2021-10-20 21:50] sredna commented on #1499
It would also be nice if it disclosed what "Mdd" actually stands for in its description (and if not there, somewhere in the documentation?).

[2021-10-21 00:55] riverar commented on #1499
@sredna Microsoft.DynamicDependencies

[2021-10-21 05:45] Jaiganeshkumaran commented on #1151
Today the UWP development workload only installs .NET by default and for C++ you need to select from the sidebar. C++ developers might not need .NET tools but currently it must be installed as well.

[2021-10-21 10:08] JanRajnoha commented on #1209
@capegreg if you look better at dependencies with Microsoft.Xaml.Beahaviors.WinUI.Managed, so you will notice version 2.0.5 is using Win App SDK 1.0 exp1 and version 2.0.6 is using experiment 2, so if you will upgrade to 2.0.5, you will install Windows App SDK 1.0 too

[2021-10-21 13:26] ParkhutRoman commented on #1626
For example if we dont need title bar background color, like all new WinUi windows, we can add to our own ResourceDictionary edited WindowChromeStyle

((1.0.0-preview2\lib\net5.0-windows10.0.18362.0)  difference only in added Canvas.ZIndex and removed TitleBarMinMaxCloseContainer.Background)
[code]
And in page
[code]
Dont forget  ExtendsContentIntoTitleBar = true  and  SetTitleBar();

[2021-10-21 14:15] JosHuybrighs opened #1632 "ToastNotificationManagerCompat.OnActivated event not invoked when toast action triggered with a closed app"
**Describe the bug**
I am following the description, defined in [Send a local toast notification from C# apps](https://docs.microsoft.com/en-us/windows/apps/design/shell/tiles-and-notifications/send-local-toast?tabs=desktop-msix), for handling toast actions in a winui 3 app (packaged) and are using WindowsAppSDK-1.00-preview2.
Everything works as described except when the app has been closed befor

[2021-10-21 16:35] ParkhutRoman commented on #1626
And if app have ThemeSelector, and you need get rid of wrong colors in WindowCaptionButtons, we can duct tape WindowChromeStyle befor we get normal api.

`<Grid x:Name="LayoutRoot" RequestedTheme="{Binding ElementName=ClientAreaPresenter, Path=Content.RequestedTheme}">`

[code]

[2021-10-21 19:16] #1617 closed, assigned to nobody

[2021-10-21 21:59] ptorr-msft commented on #1627
Unfortunately there is far too much complexity in the old-style dialogs to do this. For example, the classic dialogs run in-proc and you can participate in the message loop of the dialog. This is not possible with the new pickers.

It sounds like maybe what you're looking for is "add picker apps to the classic file picker?"

[2021-10-21 21:59] #1627 closed, assigned to jonwis, ptorr-msft

[2021-10-21 23:18] stevewhims commented on #1599
Also see [Important issue impacting 1.0 Preview 1 and Preview 2](https://docs.microsoft.com/windows/apps/windows-app-sdk/preview-channel#important-issue-impacting-10-preview-1-and-preview-2) on docs.microsoft.com.

[2021-10-22 03:59] jonwis commented on #1629
Sorry, looks like I can't reproduce this locally:

![image](https://user-images.githubusercontent.com/18537118/138391361-a5d2667f-83a3-4d16-8f40-c6596fdcdfe2.png)

This would be a .NET error anyhow. Closing this here, you're welcome to reopen in their repos instead.

[2021-10-25 07:53] jaigak opened #1643 "Ability to specify if a Win32 app is dark mode aware in manifest"
Add an element named "darkModeAware" in the schema for app.manifest to specify if a Win32 app supports dark mode. If this value is set to true, automatically enable dark mode for common controls without the need to call APIs for that manually. This can also be used by non-GDI apps such as WinUI 3 apps to get certain system UI (eg: title bar) in dark mode when the system theme is dark.

[2021-10-25 10:54] jaigak opened #3723 "Proposal: Add VS Item Template for WinUI 3's ContentDialog"

[2021-10-25 14:57] jaigak opened #1646 "Get rid of the WinUI 3 Windows Runtime Component template for C++"
Consider removing the WinUI 3 Windows Runtime Component template for C++ since one can just as easily use the old templates shipped in VS for C++/CX and the extension for C++/WinRT and reference WinUI 3 and WindowsAppSDK if they wanted to. There's too many templates in VS already and this just adds more bloat. The C# one could remain as it targets a different runtime altogether which makes it less

[2021-10-25 18:27] #1632 closed, assigned to danielayala94

[2021-10-25 20:02] #331 closed

[2021-10-25 22:06] andrewleader opened #1648 "Support TaskbarManager (pinning to taskbar) from desktop apps"
## Summary
[TaskbarManager](https://docs.microsoft.com/en-us/uwp/api/windows.ui.shell.taskbarmanager?view=winrt-22000) API is supported in UWP apps but not desktop apps (the API doesn't have a way to pass through your HWND so it's non-functional in desktop apps). The API is used to pin your primary tile to the taskbar, along with pinning secondary tiles to taskbar (the secondary tiles are a limite

[2021-10-26 08:28] JaiganeshKumaran opened #1650 "Referencing a WinUI 3 project from a packaging project that also references a WinUI 2.x project doesn't work"
**Describe the bug**
When you reference a WinUI 3 project from a packaging project that also references a WinUI 2.x project, you get a duplicate error due to having an App.xbf file in both projects: `3>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VisualStudio\v16.0\AppxPackage\Microsoft.AppXPackage.Targets(1946,5): error APPX1111: Payload contains two or more fil

[2021-10-26 20:15] jeromelaban opened #1652 "The function "Is64BitProcess" on type "System.Environment" is not available"
**Describe the bug**

When building a C# project that references `Microsoft.WindowsAppSDK` using `dotnet build`, the following error happens:

[code]

**Steps to reproduce the bug**

Create a csproj with the following content:
[code]

Then run `dotnet build` in the folder containing the project.

**Expected behavior**
The build passes.

**Version Info**
VS 2022 Preview 6
dotnet `6.0.100-rc.2.21505

[2021-10-27 17:11] andrewleader opened #1658 "NuGet package incorrectly allows installing into an app that's not using .NET 5"
**Describe the bug**

Internal bug: https://microsoft.visualstudio.com/OS/_workitems/edit/36839691

In our current preview NuGet packages, we're not using any TFMs, so you can technically install WinAppSDK into any app, including a .NET Framework app, and then we'll silently fail later on since we only support .NET 5 and higher.

This is a **regression**, in previous ProjectReunion 0.8 versions, s

[2021-10-27 17:51] andrewleader opened #1659 "NuGet package is missing tags (keywords) and a description"
**Describe the bug**

Internal bug: https://microsoft.visualstudio.com/OS/_workitems/edit/36840240

In NuGet, if you search for "Windows App SDK" (with spaces) or "WinAppSDK", our package comes low in the results, since we don't include those in the tags.

Additionally, if and when you find our package, it's missing a description and simply just says "WindowsAppSDK".

![image](https://user-images.

[2021-10-27 18:06] andrewleader opened #1660 "Deprecate and hide from Intellisense APIs that always return null, like Window.Current"
**Describe the bug**

There are several APIs in our API surface that always return null and confuse developers, like `Window.Current` and also `Window.Dispatcher` and more. The presence of these non-functional APIs makes it more difficult to code and more difficult to migrate from UWP, since any developer would expect these APIs to work since they're there, but they actually just return null.

The

[2021-10-27 20:00] #1599 closed, assigned to andreww-msft

[2021-10-27 21:04] ghost1372 opened #1663 "Preview 3 UnPackaged App Cant run"
I followed the instructions given [here](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/create-your-first-winui3-app?tabs=csharp%2Ccsharp-unpackaged#instructions-for-winui-3-unpackaged-desktop-apps)
But the app does not run and closes immediately.
The following error can also be seen in the Output window

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new

[2021-10-27 22:02] andrewleader opened #1664 "Publish option missing from single-project apps upon first creation"
**Describe the bug** (internal [bug 36644830](https://microsoft.visualstudio.com/OS/_workitems/edit/36644830))

When you first create a new single-project packaged app, the "Package and Publish" menu option (for generating a MSIX) is missing. You must first close and re-open the solution or project before the option appears.

After first creating project | After close and reopen project
--|--
![im

[2021-10-27 22:13] #1663 closed, assigned to nobody

[2021-10-27 23:38] dotMorten opened #1665 "Templates listed wrong under "Platform""
**Describe the bug**
The WinUI templates also adds a "Windows App SDK" category that incorrectly gets placed under platform:
![image](https://user-images.githubusercontent.com/1378165/139162163-8420cd25-97a6-44f1-bff8-35c8156f5111.png)

I'm not sure what the purpose of this category is though, it already has a WinUI category which is probably what you'll be using to start a WinUI app. I'd suggest

[2021-10-28 09:05] chiddekel opened #1668 "Add support for Mac and Linux with uno platform."
Add support installation runtime and library (WinRT/UWP) to Linux and Mac just like adding installation package for
.net core to any of dose. Multiplatform support to SDK can be powered by [Uno platform](https://platform.uno).
In that way, runtime, lib, and SDK will be truly Multiplatform solutions provided by Microsoft and can bring Microsoft store apps to any platform.

[2021-10-28 09:48] Samuel12321 opened #1669 "UI Access is not supported for Desktop AppX processes"
**Describe the bug**
Cant use .MSIX packaging for WinUI3 Desktop apps that uses UIAccess.
When launching the app an error "the request is not supported" pops up, and the app fails to launch.

The following error is observed in event viewer:
`0x80070032: Cannot create the process for package fd6e7c45-f095-4b47-a46a-71657af65eae_1.0.0.0_x64__0dbdf1n3n58kt because UI Access is not supported for Deskt

[2021-10-28 16:49] huichen123 opened #1674 "resource/image file added from VS UI will not be built into PRI file for WPF project"
**Describe the bug**
In a WPF project, adding resource image file from VS UI, the project is automatically modified to exclude those files. Thus they are not built into final PRI file.

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Create a new WPF project
2. Reference to WindowsAppSDK 1.0-preview3
3. add a new resources.resw file or an existing image file to the project. The

[2021-10-29 08:33] ghost1372 opened #1677 "Published unpackaged apps do not run"
Published app does not run in Self-Contained mode and framework-Dependent

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new UnPackaged winui 3 app (preview 3)
2. Publish app (Self-Contained or framework-dependent)
3. run published app

**Internal bug (for MS employees)**: https://microsoft.visualstudio.com/OS/_queries/edit/36900034

**Expected behavior**
app should

[2021-10-29 21:30] DrusTheAxe commented on #1121
I suspect this is the same root problem. Software archeology in progress (i.e. I'm digging :P) to verify Windows Server 2019 LTSC is based on 19H1 then yes, this should be addressed by #1681

[2021-10-29 21:51] DrusTheAxe commented on #1121
Confirmed. Kudos to wikipedia for the convenient reference:

https://en.wikipedia.org/wiki/List_of_Microsoft_Windows_versions#Server_versions
<html>
<body>
<h2 style="color: rgb(0, 0, 0); margin: 1em 0px 0.25em; padding: 0px; overflow: hidden; border-bottom: 1px solid rgb(162, 169, 177); font-size: 1.5em; font-weight: normal; font-family: &quot;Linux Libertine&quot;, Georgia, Times, serif; line-he

[2021-10-29 21:54] DrusTheAxe commented on #1003
https://docs.microsoft.com/en-us/windows/windows-app-sdk/api/win32/mddbootstrap/nf-mddbootstrap-mddbootstrapinitialize

[2021-10-29 21:54] #1003 closed

[2021-10-29 22:24] huichen123 commented on #348
It doesn't seems to have a good way to add embedded resources currently. We probably need to make some targets file change to support that. As William has pointed out, PRI is different from MUI. It's supposed to be a loose file, instead of embedded in PE.

That said, I am able to add following to my project to embedded some files. You may do similar thing as a current workaround.

[code]

[2021-10-30 00:44] Samuel12321 commented on #1669
@jeffstall @jvintzel Is there any timeline for when this will be fixed?

[2021-10-30 00:47] riverar commented on #1669
Does the `uiAutomation` rescap help at all here?

[2021-10-30 00:55] Samuel12321 commented on #1669
Hi @riverar, Thanks for the suggestion, unfortunately that doesn't work either, still get the same `UI Access is not supported for Desktop AppX processes` error.
This is the list of capabilities I'm currently using.
[code]

[2021-10-30 02:09] shelllet opened #1683 "MddBootstrapAutoInitializer.cpp: `error C3861: 'exit': identifier not found`"
I use 1.0-preview3  to create new project and then move old project files to new project.
when finnaly compiling, the flowing error appeared ,  I am very confused!

![image](https://user-images.githubusercontent.com/16729017/139516730-b31c3b77-a42b-4890-b9ab-b13887614128.png)

[2021-10-30 03:02] shelllet opened #1684 "[1.0-preview3]Global `DependencyProperty` cause app crash ' 0x80040154 : 'Class not registered'.'"
the flowing code  cause app crash. 1.0-preview3
[code]

1. Create a new app using the "Blank App, Packaged (WinUI 3 in Desktop)" project template.
2. Add `<WindowsPackageType>None</WindowsPackageType>`
3. Change `
<AppxPackage>false</AppxPackage>
<AppContainerApplication>false</AppContainerApplication>
`
4. Delete package.appxmanifest from the project.

![image](https://user-images.githubuserconte

[2021-10-30 04:31] HavenDV opened #1686 "MddBootstrapAutoInitializer does not compile with enabled ImplicitUsings"
Bug with the intersection of Microsoft.WindowsAppSDK.Runtime.Version with System.Version.

It needs to use `global::` prefixes.

Env:
`Microsoft.WindowsAppSDK`: `1.0.0-preview3`
`WindowsPackageType`: `None`

[2021-10-30 04:40] HavenDV commented on #1686
Workaround: Create `Fix.cs` with this content
[code]

[2021-10-30 07:41] seven-mile commented on #1684
COM, WinRT and WinAppSDK all need initialization. You apparently cannot create object before initialization.
Use `static Microsoft::UI::Xaml::DependencyProperty G_title_property {nullptr};` instead, and initialize it at a proper time (Application::OnLaunch or singleton pattern, etc).

[2021-10-30 09:05] shelllet commented on #1684
So I have to change a lot of code to upgrade to p3 for unpackage app.

[2021-10-30 09:30] shelllet commented on #1684
Thks

[2021-10-30 10:30] shelllet opened #1687 "Support PrimaryLanguageOverride from unpackaged apps"
when calling the following code from an unpackaged app, it throws an error. This is needed to be able to use `x:Uid` localization in XAML and control the language it picks.
[code]

[2021-10-30 20:13] snickler commented on #1652
This also occurs on Preview 3 and with version `10.0.22489-preview` of `Microsoft.Windows.Sdk.BuildTools`

`.nuget\packages\microsoft.windows.sdk.buildtools\10.0.22489-preview\build\Microsoft.Windows.SDK.BuildTools.props(4,37): error MSB4185: The function "Is64BitProcess" on type "System.Environment" is not available for execution as an MSBuild property function.`

[2021-10-30 20:45] huoyaoyuan opened #1691 "Single project msix can't load assets from project reference"
**Describe the bug**
Single project msix can't load assets from project reference, including XBF and images.

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a single project WinUI project, do some necessary modification, and verify it works.
2. Create a class library project, with a UserControl in it. Do necessary modification to make it builds.
3. Add the user control

[2021-10-31 23:55] martibravo opened #1693 "Windows without Titlebar has a white border when maximized."
**Describe the bug**
Using the OverlappedPresenter.SetBorderAndTitlebar(false,false) to hide caption buttons and borders.

- Hiding the titlebar creates a 1px white stripe on top of the window when maximized.

**Expected behavior**
(1) There should not be any white stripes at the top or the bottom of the app when maximized.

**Screenshots**
![image](https://user-images.githubusercontent.com/760578

[2021-11-01 05:17] riverar commented on #1686
Am confused. You turned on _implicit usings_ which brought together two disparate namespaces and a type collided (as expected). How is this Windows App SDK's fault?

[2021-11-01 05:24] HavenDV commented on #1686
It adds the file to compile like a generator.

[2021-11-01 05:27] HavenDV commented on #1686
Please see PR

[2021-11-01 06:35] riverar commented on #1686
I'm not confused about the changes you made. I'm just trying to understand what problem _implicit usings_ solves and why you think Windows App SDK should support this.

[2021-11-01 06:37] HavenDV commented on #1686
As far as I know, they will be enabled by default for new projects.

[2021-11-01 06:41] riverar commented on #1686
That decision appears to have been reversed. https://docs.microsoft.com/en-us/dotnet/core/compatibility/sdk/6.0/implicit-namespaces-rc1

[2021-11-01 06:43] HavenDV commented on #1686
I mean, not at the SDK level, but when creating a new project, the MSBuild property will be set to true in the csproj file.

[2021-11-01 11:07] harvinders commented on #467
` var hwnd = WinRT.Interop.WindowNative.GetWindowHandle(this);`, in the example given `this` is a `Windows`.

@andrewleader How do we get the `Window` object in a `Page` object?

[2021-11-01 12:24] wbokkers opened #1697 "Crash on creating a new Window"
**Describe the bug**
Creating more windows results in internal Exception.

![image](https://user-images.githubusercontent.com/4835617/139670580-c69c5328-6c48-4dc2-aa45-97699fa2fee0.png)

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Use Windows App SDK 1.0 Preview 3
2. Follow these steps to create a new window:  https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.

[2021-11-01 15:26] KusiTec opened #1699 "[1.0 - preview3] App does not contain a definition for 'InitializeComponent' in the constructor of App.xaml.cs"
After upgrading from projectreunion 0.8 to 1.0 - preview3, arises the error CS1061:

- 'App' does not contain a definition for 'InitializeComponent' and no accessible extension method 'InitializeComponent' accepting a first argument of type 'App' could be found (are you missing a using directive or an assembly reference?)
- It should be noted here that the class name (x:Class="KusiTec.Kodis.WinUi.

[2021-11-01 16:20] andrewleader commented on #467
@harvinders you'll have to statically store the current `Window` somewhere you can access it globally. If your app only has one single window, the easiest thing to do is, **in your App.xaml.cs**, refactor...

[code]

to...

[code]

And then when you need to reference it, you can do...

[code]

[2021-11-01 16:45] jonathanpeppers opened #1700 "If (When?) global C# usings are added, include %(Platform) metadata"
# Proposal: C# global usings

## Summary

If C# global usings, are added for the Windows App SDK, then .NET MAUI needs a way to turn them off in MSBuild. A `Platform="Windows"` item metadata would make this possible.

Currently, the plan for .NET 6 is for MAUI to do something like:

[code]

They are working on a potential better design in .NET 7.

If the Windows App SDK doesn't add C# global using

[2021-11-01 18:09] DrusTheAxe commented on #1683
@Scottj1s `exit()` is a C API. Should this be `ExitProcess()` to minimize dependencies?

Or should the autoinitializer be replaced by inline-code in the XAML generated main?

Or the WinUI generated main have an optional callout at its start to PreMain? That can be done without adding a new source file to compile e.g.

[code]

and  the autoinitializer logic can move into `WinUI-Main-Extensions.h` e

[2021-11-01 19:16] BenJKuhn commented on #1684
@shelllet can you confirm whether the advice from @seven-mile resolved your issue, you whether you still have questiosn / concerns.

[2021-11-01 19:20] btueffers commented on #1687
Hi @shelllet, this API isn't intended to work from an unpackaged context.

[2021-11-01 19:26] andrewleader opened #1702 "List of APIs that don't work from unpackaged apps"
Starting this issue to track APIs that don't work from unpackaged apps, so we can then figure out a plan for how we should address these.

API | Behavior | Expected behavior
--|--|--
Windows::Globalization::ApplicationLanguages::PrimaryLanguageOverride | Throws an error #1687 | Would make sense if it worked
Microsoft.Windows.ApplicationModel.Resources.<br>[ResourceManager.MainResourceMap.ResourceC

[2021-11-01 19:29] andrewleader commented on #1687
Additionally, we've started a list of APIs like this that don't work from unpackaged apps that we need to either (1) document better with warnings so you know before you try using it, or (2) add new WinAppSDK APIs that work for unpackaged apps: #1702

[2021-11-01 19:47] evelynwu-msft commented on #1691
Duplicate of internal bug http://task.ms/36600654 which is assigned to @ryalanms.

[2021-11-01 20:00] DrusTheAxe commented on #1700
@Scottj1s more your lane than mine. Tag you're it :P

[2021-11-01 20:02] DrusTheAxe commented on #1700
That's out intent. The proposed patch to make the auto-initializer be agnostic to others using global usings is righteous but WinAppSDK has no intention to use or require global usings.

[2021-11-01 20:33] riverar commented on #1702
@andrewleader How shall folks contribute? Open a normal issue and you maintain this meta issue?

[2021-11-01 20:34] andrewleader commented on #1702
People can add comments to this issue and I'll update the thread, but yeah I'll also link and update other issues to this too

[2021-11-01 21:16] jonathanpeppers commented on #1700
I think the guidance for https://github.com/dotnet/sdk/issues/21996 is that adding global usings in a NuGet package is not recommended yet. (There isn't a good design for it yet in .NET 6)

If the Windows App SDK is ever a .NET workload, global usings might be a nice feature to add, though.

[2021-11-01 21:47] andrewleader commented on #1677
Hi @ghost1372, thanks for reporting this, we're looking into it!

[2021-11-01 22:17] #1121 closed

[2021-11-01 23:11] shelllet commented on #1684
Thks
So what api should I call to set the default language?

[2021-11-01 23:20] shelllet commented on #1684
Thks this should  be work,   but i  encounter that another question in my project and  and  asking for help now . i  can't start my unpack app  to test.

[2021-11-01 23:23] shelllet commented on #1687
So what Api should I call to set the defualt language?

[2021-11-01 23:55] andrewleader commented on #1687
@axelandrejs how should unpackaged apps set their default language for resolving resources and XAML localization?

[2021-11-02 00:47] shelllet commented on #1702
So ,how should unpackaged apps set default language?

[2021-11-02 01:36] riverar commented on #1121
@DrusTheAxe if you would like an extra set of eyes on this fix, ping me (and shoot over some build artifacts).

[2021-11-02 03:23] shelllet commented on #1702
The process has no package identity.
[code]

[2021-11-02 03:34] shelllet commented on #1702
If my desktop app can be started smoothly and deploy successful under the unpacked application, then I think the 1.0 unpacked feature is basic completed. but now it's far way from ended. i was blocked by this now.

[2021-11-02 04:46] DrusTheAxe commented on #1665
@BenJKuhn serve, return volley... :-) Forgot to tag you on the [reply above](https://github.com/microsoft/WindowsAppSDK/issues/1665#issuecomment-953483721). Are you asking about that? Is the 'fix' that simple?

[2021-11-02 04:47] #1686 closed

[2021-11-02 06:09] BarcodeResource commented on #1157
HI,

May I know if there is any update on this? I retested the issue on Windows 11 (10.0.22000 Build 22000) with WindowsAppSDK (1.0.0-preview3) and is getting the same InvalidOperation error on PickContactsAsync:

ContactStore contactStore = await ContactManager.RequestStoreAsync(ContactStoreAccessType.AllContactsReadOnly);
Windows.ApplicationModel.Contacts.ContactPicker page = new Windows.Applica

[2021-11-02 10:27] martibravo commented on #1593
I believe that you would be better served by an OverlappedPresenter: (as a temporary workaround)

Set its properties `IsMaximizable `and `IsMinimizable` to `false` and `AppWindowTitlebar.ExtendsContentIntoTitlebar` to `true` you'll get a resizable Picture-in-Picture window without a title nor max/min buttons and it will not be snappable with Snap Layouts.

![image](https://user-images.githubuserco

[2021-11-02 10:31] martibravo commented on #408
If you are using the new Windowing APIs you can extend content to the titlebar and set custom Drag Areas defined by an array of RectInt32 values.

Just use `AppWindowTitlebar.ExtendsContentIntoTitlebar = true;` and set your drag rectangles with `AppWindowTitlebar.SetDragRectangles = new RectInt32[]{...};`

[2021-11-02 16:35] andrewleader commented on #1702
@shelllet we'll help you with how to set default language on your other thread #1687

And I've added ResourceManager.MainResourceMap to the list, thanks!

[2021-11-02 16:46] andreww-msft opened #1709 "Improvements to the instancing redirection API"
# RedirectActivationTo

## Overview

The API spec [here](https://github.com/microsoft/WindowsAppSDK/blob/main/specs/AppLifecycle/Instancing/AppLifecycle SingleMulti-Instancing.md) describes how the Windows App SDK brings the single-/
multi-instancing API support from UWP to non-UWP apps. One of the key
methods is RedirectActivationToAsync. This document describes some problems
with the current API

[2021-11-02 17:00] joaopedrolourencoaffonso commented on #281
Does anyone know a good Python library to implement this on windows (10)?

[2021-11-02 17:56] Scottj1s commented on #1700
I concur with @DrusTheAxe - no action needed now

[2021-11-02 17:56] #1700 closed

[2021-11-02 17:57] Scottj1s commented on #1683
@ShashankNay - looks like replacing exit() with failfast still needs to be done

[2021-11-02 18:01] Scottj1s commented on #1683
I like the idea of a #if __has_include(...) as a developer hook for overriding error handling behavior - @ShashankNay, let's discuss.  One approach is to use a function template to provide default behavior (DebugBreak, MessageBox, etc), and allow the developer to 'override' that with a non-templated function via #if __has_include inclusion.

[2021-11-02 22:19] huichen123 commented on #1687
MRTCore determines the default language using Windows::Globalization::ApplicationLanguages::Languages (https://github.com/microsoft/WindowsAppSDK/blob/main/dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/ResourceContext.cpp#L106-L113)

[2021-11-02 23:30] andrewleader commented on #1687
@huichen123 yes, and how should unpackaged apps change the default language for their app? As shelllet asked, in a packaged app, developers can call `ApplicationLanguages::PrimaryLanguageOverride('en-us')` to override the default language, but that API doesn't work for unpackaged apps. How should unpackaged apps override the default language when using MRT Core?

Many apps (including my own) allow

[2021-11-03 05:05] riverar opened #1713 "[1.0-preview3] All winmd files have a AssemblyVersion of 255.255.255.255"
API metadata in `lib\uap*\` folders have AssemblyVersion attributes with a value of 255.255.255.255. Ideally they would match the modules they describe.

e.g. il dump of `\lib\uap10.0\Microsoft.UI.Text.winmd`

[code]

[2021-11-03 05:14] riverar commented on #1713
On further thought, don't want to confuse .NET folks. I now remember why this is in place. 😂 Disregard.

[2021-11-03 05:14] #1713 closed

[2021-11-03 11:32] artsemionov commented on #766
There is no solution, issue should be reopened.

[2021-11-03 12:14] MaoUyen opened #1714 "Navigationview causes Access violation reading location on app.current.exit()"
**Describe the bug**

not sure if its winui or xaml related but:
when you have opened a navigationview during any time in your application and then execute an application.current.exit()
it throws :   0xC0000005: access violation reading location 0x0000....

**Steps to reproduce the bug**

Steps to reproduce the behavior:
1. Create a new Winui3 project
2. add a navigationview to the stackpanel
3. a

[2021-11-03 12:28] snickler commented on #1652
@jeromelaban - It looks like these are the culprits that define whether `Is64BitProcess` is available to use or not. From the code, it makes sense why it only builds when calling `msbuild` from the VS Developer Command line

https://github.com/dotnet/msbuild/blob/ad0ea36eb0e5670454c8cc7a3942717d4db9dab1/src/Build/Resources/Constants.cs#L306

https://github.com/dotnet/msbuild/blob/a7d579050450d7ee8

[2021-11-03 16:52] huichen123 commented on #1687
Before PrimaryLanguageOverride is fixed, you may have to pass in a ResourceContext, and set its Language qualifier value to the desired value.

[2021-11-03 16:58] andreww-msft commented on #111
Folks

Although this issue is closed, I wanted to clarify a few points. This was the very first Reunion/Windows App SDK feature document to be published - at a time when we were still very much feeling our way through a whole bunch of new processes around how we would publish docs and specs. We wanted to get the doc out very early, to gather feedback - and we have indeed received a lot of feedback

[2021-11-03 16:58] #111 closed

[2021-11-03 17:03] zaryaf commented on #1221
The latest installer does come in ARM64. Closing issue.

[2021-11-03 17:03] #1221 closed

[2021-11-03 17:58] andrewleader commented on #1677
Hi @ghost1372, just an update, we identified the root cause of the .NET Publish not working with WinAppSDK and are working on a fix.

[2021-11-03 18:10] marb2000 commented on #1151
We are working on adding the Windows App SDK as part of .NET and C++ VS2022 workloads. We are currently targeting VS2022 17.1 Preview 1, We removed several dependencies from the UWP workload and split the WinAppSDK vsix into these two components: .NET and C++, making them lighter and saving several gigabytes.

So that,  in VS 2022 17.1, .NET developers who want to use the WindowsAppSDK, will only

[2021-11-03 18:25] ghost1372 commented on #1677
excellent, Can we get it before 1.0 GA?

[2021-11-03 18:39] andrewleader commented on #1677
I think it'll be more likely we fix this in a 1.0.x update soon after GA, but we don't know yet when the fix will come since we're working on the fix right now.

[2021-11-03 19:53] huichen123 commented on #1702
I don't think ResourceManager.MainResourceMap.ResourceCount throws. WIL will show a message in the VS debugger output window, but the code does not throw.

[2021-11-03 20:58] rkarman commented on #309
For the Windows App SDK AppWindow APIs the CompactOverlay windows are by default non-resizable. Closing this issue.

[2021-11-03 20:58] #309 closed

[2021-11-03 22:37] andrewleader opened #1717 "AppInstance redirection doesn't work when compiled for x86"
### Describe the bug

If you compile the app for x86 and try to use `GetInstances()` it'll always return only one instance and `FindOrRegister` will also always just return your current instance.

If you compile the app for x64, it works.

### Internal bug (for MS employees)

[Bug 36925313](https://microsoft.visualstudio.com/OS/_workitems/edit/36925313)

### Steps to reproduce the bug

1. Follow t

[2021-11-04 09:43] mpo-dev opened #1721 "ApplicationData API not working for unpackaged app"
### Describe the bug

Accessing the `ApplicationData` API on an unpackaged app causes an `System.InvalidOperationException` to be thrown.

### Steps to reproduce the bug

1. Create a new WinUI 3 unpackaged desktop app.
2. Access the ApplicationData API
[code]

### Expected behavior

_No response_

### Screenshots

_No response_

### IDE

Visual Studio 2019

### NuGet package version

Microsoft.Win

[2021-11-04 12:33] lucent-sea opened #1722 "Error during compile if Window.Title is set in XAML."
### Describe the bug

From a fresh WinUI 3 in Desktop project from Windows App SDK templates, if the Title property in set in MainWindow.xaml, the following error is thrown when compiling:

[code]

### Steps to reproduce the bug

- Create a new WinUI 3 in Desktop project from Windows App SDK C# VS2022 Templates.
- Update NuGet packages to Preview 3 versions.
- Open MainWindow.xaml.
- Set Title pro

[2021-11-04 15:25] martibravo commented on #1722
Me too in build 22489. For the record, it is the Xaml Compiler complaining. Can't get the exact wording rn but it was something like "XBF: Property not found".

[2021-11-04 15:47] riverar commented on #1722
Duplicate of microsoft/microsoft-ui-xaml#3689. This is a known issue and won't be fixed in time for 1.0. Workaround in the aforementioned issue.

[2021-11-04 16:28] roxk commented on #1721
As per the [list of API that requires package identity](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-supported-api#apis-that-require-package-identity), `ApplicationData` isn't supported for unpackaged app. You might want to manually grab the `AppData` folder path instead.

I'm no expert on this and binging pointed me to [SHGetKnownFolderPath ](https://docs.microso

[2021-11-04 16:40] andrewleader commented on #1571
This is fixed in the upcoming 1.0 GA! Fixed by #1637

[2021-11-04 16:40] #1571 closed

[2021-11-04 17:33] andrewleader commented on #1721
Correct, the `ApplicationData` APIs aren't supported by unpackaged apps.

Unpackaged apps can store app data in traditional ways, like the `AppData` folder as roxk suggested. You then need to pick a unique folder within there, so probably something like [Publisher][AppName], for example in my apps I'd store my files in `AppData\Local\BareBonesDev.PowerPlanner`.

In C#, you can use `Environment.Get

[2021-11-04 17:33] #1721 closed

[2021-11-04 17:35] andrewleader commented on #1684
It sounds like this specific issue has been resolved, marking as closed. If you still need help on the other issues, please add a comment to the other issues and keep the discussion on those issues. Thank you!

[2021-11-04 17:35] #1684 closed

[2021-11-04 17:42] andrewleader commented on #1665
@BenJKuhn @DrusTheAxe any updates on this? We definitely should NOT be introducing a new Platform category here, sounds like we always had this (previously as Project Reunion) though, but we shouldn't have this.

It definitely seems like it should be as simple as just removing that line from the VS templates. We already correctly have the `Windows` platform tag so we show up there.

@DefaultRyan w

[2021-11-04 17:57] rkarman commented on #900
Now that Windows 11 is out of the bag I assume everyone has seen that there is no longer a specific Tablet Mode in the product (see [Feature deprecations and removals](https://www.microsoft.com/en-us/windows/windows-11-specifications#table3) for Windows 11). I have created a feature under the windowing node in Productboard (id: 10542271) tracking this request for future planning cycles to find out

[2021-11-04 17:57] #900 closed

[2021-11-04 17:58] andrewleader commented on #1665
I've created an internal bug to track this [Bug 36933899: WinAppSDK VSIX incorrectly adds Windows App SDK as a "Platform" in the new project choices](https://microsoft.visualstudio.com/OS/_workitems/edit/36933899).

We'll fix this in a 1.0 servicing release after GA. Thank you @dotMorten for bringing this to our attention!

[2021-11-04 18:02] DefaultRyan commented on #1665
Thanks @andrewleader. I'm playing with the VSIXs a lot lately, so I'm happy to take it, or if @DrusTheAxe wants to keep this assigned to him, that's fine with me as well.

[2021-11-04 18:09] DrusTheAxe commented on #1665
All yours :-)

[2021-11-04 18:26] riverar commented on #900
@Jaiganeshkumaran Are you still seeing this behavior with the new tablet _posture_ in Windows 10/11? I don't have cycles to test this at the moment.

[2021-11-04 18:30] ChrisGuzak opened #1727 "WinAppSdk apps should default to using safe and performant process defaults"
## Summary
By default, Win32 processes have some unfortunate behavior due to the compatibility implications of changing them. For example COM will catch crashes on incoming RPC calls and continue execution. This can be modified using `IGlobalOptions` and specifying `COMGLB_EXCEPTION_HANDLING` as `COMGLB_EXCEPTION_DONOT_HANDLE_ANY`. Another option is enabled using `HeapSetInformation(..., HeapEnabl

[2021-11-04 18:46] andrewleader commented on #1659
We're going to implement this in 1.0.1 in the NuGet package, and for the initial 1.0.0 timeframe we'll update the description via the online NuGet portal (just like we updated the current description for Preview 3 via the portal).

[2021-11-04 18:54] andrewleader opened #1729 "Single project MSIX VSIX doesn't get automatically installed on VS 2019"
### Describe the bug

**Internal bug (for MS employees):** https://microsoft.visualstudio.com/OS/_workitems/edit/36926828

**What is the product/business impact?**
(This works fine on VS 2022). Users that download the Windows App SDK VSIXs for **VS2019** will not automatically get the single-project MSIX packaging VSIX. As far as I know, there won't be a prompt telling them to download the VSIX, t

[2021-11-04 19:08] andrewleader commented on #1702
I just found out we have an excellent list of APIs that don't work from unpackaged apps in our docs already: https://docs.microsoft.com/windows/apps/desktop/modernize/desktop-to-uwp-supported-api

I'll close this issue and we'll use that docs page as the official list. I've already asked for these two APIs to be added to that docs page, if anyone else finds any additional APIs not listed, you can

[2021-11-04 19:08] #1702 closed

[2021-11-04 19:11] #1722 closed

[2021-11-04 19:32] huichen123 commented on #1702
@andrewleader Please don't add ResourceManager.MainResourceMap.ResourceCount into the list. It's a WindowsAppSDK API, and should work for unpackaged. If it doesn't it would be a bug, and I think it works.

[2021-11-04 19:35] BenJKuhn opened #1730 "Availability of the `uap10-xx` target framework in 1.0"
The existence of this folder is causing some confusion & concern, both in terms of people using and valuing it, and in how it facilitates an unsupported developer scenario. These two considerations seem at odds. I'm opening this as an issue to track working out the best way to update our package layout or metadata (if at all) to provide the best experience practical with the tools available.

###

[2021-11-04 19:49] andrewleader commented on #1702
Thanks @huichen123, could you (at some point) test out ResourceCount in a sample and verify it works from unpackaged? Thanks!

[2021-11-04 20:01] huichen123 commented on #1702
@andrewleader I did, and it didn't throw.

[2021-11-04 20:42] andreww-msft commented on #129
We have investigated this issue thoroughly, including the logs provided, and the platform is following the standard suspend-before-terminate flow. UWP apps have the opportunity to save state during suspend. Unpackaged Win32 apps can use the RestartManager as described above. So, the requirement is already covered for both packaged and unpackaged apps, using one or other of the techniques available

[2021-11-04 20:42] #129 closed

[2021-11-05 00:00] kinkycat91 opened #1732 "I've spent a few hours debugging this. Here's what's going wrong and how to work around it."
I've spent a few hours debugging this. Here's what's going wrong and how to work around it.

This looks like a (very serious!!) bug in the MSIX / Delivery Optimization subsystem of Windows. It appears Microsoft already know about it and have fixed it back in May, but haven't yet released the fix, at least not to Windows 10.

@wcheng-msft @samiranshah  You guys need to document the bug and publish

[2021-11-05 01:03] riverar commented on #1732
Yeah this is a well known bug that was fixed afaik. I am a little surprised to hear this wasn't serviced. Maybe @jvintzel can chine in here.

[2021-11-05 01:47] EHO-makai commented on #1669
The combination of runFullTrust and uiAccess (did you have a typo in your manifest?) is supposed to work.  I will follow up on the msdn documentation which is erroneous in this area.

Assigning issue to jvintzel for further follow up.

[2021-11-05 01:58] Samuel12321 commented on #1669
@EHO-makai Thanks for the reply,
I have added a copy of the manifest I'm using below.
I have also tried adding `UIaccess = True` to a desktop bridge app published with MSIX and using rescap runFullTrust and uiAccess, but it still doesnt work.

I agree that the documentation for this needs improvements.
'
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap

[2021-11-05 06:12] DrusTheAxe commented on #1669
In addition to those capabilities in your appxmanifest.xml do you have a Fusion (aka SxS) manifest specifying

[code]

?

Here's the definitive [link](https://stefanwick.com/2018/10/01/app-elevation-samples-part-1/) I'm aware of

[This link](https://www.advancedinstaller.com/allow-elevation-msix-packages.html) mentions how the allowElevation capability is necessary but insufficient. That just says

[2021-11-05 06:51] Samuel12321 commented on #1669
@DrusTheAxe, yes except mine says:
`<requestedExecutionLevel level="asInvoker" uiAccess="true" />`
As we don't need to run with elevated permission, just uiAccess

[2021-11-05 06:56] Samuel12321 commented on #1669
Just tried changing to `<requestedExecutionLevel level="highestAvailable" uiAccess="true" />` , Problem persists

[2021-11-05 06:57] mg-christian-axelsson commented on #129
Out of curiosity, what's the alternative for UWP applications that can't save its state in a manner that makes them resumable. I'm (of course) talking about Windows Terminal (https://github.com/microsoft/WindowsAppSDK/issues/300) where one could have running processes in a shell , open remote connections doing all kind of things on the remote side, etc.

[2021-11-05 07:07] riverar commented on #1669
If you use `uiAccess="true"` in your fusion manifest, your app will [need to be Authenticode signed and put into one of several trusted locations](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/user-account-control-only-elevate-uiaccess-applications-that-are-installed-in-secure-locations) (e.g. system32, program files). (I don't believe that uiAccess m

[2021-11-05 07:51] Jaiganeshkumaran opened #1733 "AppWindow.IsVisible should be settable"
Unlike UWP, you can hide the window programmatically. Instead of a separate AppWindow.Hide method, why not make IsVisible settable?

[2021-11-05 09:07] Samuel12321 commented on #1669
Thanks for finding the root problem @riverar.
I assumed that the Windows Apps folder would have been a trusted folder - more so than program files.

So I guess the problem still stands, msix doesn't support uiaccess = true, as you can't change the install location for msix distributed apps.

[2021-11-05 09:30] riverar commented on #1669
Actually, seems WindowsApps is okay. From the docs:

What's not clear is the relationship of the fusion manfiest uiAccess=true and the appxmanifest uiAccess rescap. And the nebulous errors you're getting are the cherry on top.

Hope we get to the bottom of this and establish a working pattern for others!

[2021-11-05 11:46] gtoison commented on #1732
@riverar that issue has affected us for a while now and upgrading to the newer W10 builds does not solve it. Appinstaller is otherwise very neat so it's a bit unfortunate.
There's a long discussion here: https://techcommunity.microsoft.com/t5/msix-deployment/windows-10-2004-msix-not-updating-please-check-whether-the/m-p/1466701

[2021-11-05 15:21] Jaiganeshkumaran commented on #1646
That's right but if the developers want it, they can add it manually. Unlike the app templates, the component doesn't really contain any code. There shouldn't be a reason for a duplicated template that has nothing but some NuGet references.

[2021-11-05 20:19] DefaultRyan commented on #1729
This is fixed in main and release/1.0-stable

[2021-11-05 20:20] #1729 closed

[2021-11-05 20:46] aeloros opened #1738 "AppIds are not consistent across x86 and x64 of the same app."
### Describe the bug

The AppIds used internal to the AppLifecycle feature are computing as a hash based on the executable path.  The std::hash algorithms used on x86 and x64 builds are different and produce different outputs.  This means filetype/protocol associations and instancing are incompatible on the same machine between and x86 and x64 variant of the same app.

example: I install the x86 v

[2021-11-05 22:12] #1717 closed

[2021-11-06 00:45] wjk commented on #1677
@ghost1372 Details on what the bug actually _is_, please? Remember that we don’t all work for Microsoft. MS-internal bug links are not useful.

[2021-11-06 04:03] riverar commented on #1677
@wjk Andrew added the internal bug for other Microsoft folks. The repro steps make it pretty clear that .NET publish scenario is busted. Not sure if additional details here would be beneficial or be a good use of their time.

[2021-11-06 07:22] wjk commented on #1677
@riverar My apologies. I thought it was there from the beginning. That’s perfectly all right. Sorry to bother you @ghost1372.

[2021-11-06 11:56] Jaiganeshkumaran commented on #1730
You support .NET 5 WinForms and WPF apps but not UWP?

[2021-11-06 12:02] Jaiganeshkumaran commented on #1514
I also get the same error when building a Windows Runtime component that exposes XAML controls however this time it can't open XamlTypeInfo.g.obj.

[2021-11-06 15:45] baskren opened #1743 "[uwp] Frame.Navigate( typeof(non_xaml_class_derived_from_Page)) crashes w/ Native Toolchain"
### Describe the bug

When given a Non-XAML (pure code) class derived from Page, Frame.Navigate crashes when compiled using Native Toolchain.

### Steps to reproduce the bug

## USING SAMPLE PROJECT

1. Clone the following repo: https://github.com/baskren/NativeToolchain_NonXamlPage_crash.git
2. Run in **Debug** WITHOUT **Native Toolchain**
3. Click **NOT A XAML PAGE** button to navigate from **XA

[2021-11-06 18:00] riverar commented on #1730
Yes.

[2021-11-06 19:17] chingucoding opened #1744 "Proposal: Include WinUI 3 test projects (as already exist for standard UWP apps)"
# Proposal: Include WinUI 3 test projects (as already exist for standard UWP apps)

## Summary

For the UWP runtime, there are dedicated test app project templates included in Visual Studio. For WinUI 3, we have project templates for apps, libraries and component libraries, however no template that one can use to load WinUI 3 projects and write tests against them.

## Rationale

* Make it easier t

[2021-11-06 22:18] yoshiask commented on #1335
Are there any updates on this? I am building a packaged desktop app using `1.0.0-preview3` and none of the mentioned solutions have worked. I still get the `TypeLoadException` when calling `DataTransferManagerInterop.GetForWindow`.

[2021-11-06 22:21] andreww-msft commented on #1280
Hi mqudsi - apologies for the delay in replying. Can you clarify: exactly what kind of activation are you using in your WinMain app that isn't one of the ones we've provided support for so far?

[2021-11-07 00:44] mqudsi commented on #1280
@andreww-msft this is upon background activation.

[Per the Windows App SDK documentation](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/applifecycle-rich-activation),

but at the top of the page, it also lists just 4 activation types that are supported in the API… but like I was saying, I would expect an enum  to return a default value of ActivationKind.Unknown rather

[2021-11-07 00:58] mqudsi commented on #1245
@aeloros

[Per the Windows App SDK documentation](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/applifecycle-rich-activation),

but at the top of the page, it also lists just 4 activation types that are supported in the API

[2021-11-07 01:15] mqudsi commented on #1660
Can you hide them from intellisense (before then) by annotating the declarations?

[2021-11-07 01:19] riverar commented on #1660
Prior art:
https://github.com/microsoft/microsoft-ui-xaml/issues/2609
https://github.com/microsoft/microsoft-ui-xaml/issues/4177
https://github.com/microsoft/microsoft-ui-xaml/issues/6027

[2021-11-07 01:42] mqudsi commented on #1469
You might want to settle on a policy to fix this for all related packages; the same issue caused me an insane amount of grief with WinUI 3: https://github.com/microsoft/microsoft-ui-xaml/issues/5746

[2021-11-07 17:09] asklar commented on #1743
Duplicate of microsoft/microsoft-ui-xaml#6250

[2021-11-07 17:09] #1743 closed

[2021-11-08 16:43] andrewleader commented on #1677
Good news, we're actually going to fix this in time for the 1.0 GA!

The root cause was that the app's `resources.pri`, which holds all of its assets (e.g. images, XBF, localized strings) is not being binplaced to the publish directory (PRI files are not one of the standard file types that .NET Publish knows about). This causes the published app to crash on startup when it can't find necessary res

[2021-11-08 16:44] andrewleader commented on #1677
Oh and I'm closing this issue since the fix has been checked into 1.0 GA.

[2021-11-08 16:44] #1677 closed

[2021-11-08 18:39] ghost1372 commented on #1677
Awesome, thanks🙏🙏

[2021-11-08 20:14] andrewleader commented on #1733
Hey @rkarman, any thoughts on whether `AppWindow.IsVisible` property should be settable rather than a separate `Hide()` method?

[2021-11-08 20:16] andrewleader commented on #1732
@DrusTheAxe would this issue be your area space? Or should we get the AppInstaller team to look into it?

[2021-11-08 20:17] andrewleader commented on #1744
Thanks @chingucoding, I'm transferring this to the WinUI / XAML repo since this falls under their ownership!

[2021-11-08 20:37] andrewleader opened #1749 "Cannot publish app using 0.8.5 to Store"
### Bug summary

Two customers have reported being unable to publish an app that's using Project Reunion 0.8.5 to the Store, while publishing an app using 0.8.4 seemingly works.

![image](https://user-images.githubusercontent.com/13246069/140814416-afb6d5d1-dae5-431e-a4c7-ba9eb7fd30a3.png)

### Discussed in https://github.com/microsoft/WindowsAppSDK/discussions/1695

<div type='discussions-op-text

[2021-11-08 22:08] andrewleader commented on #1660
Hiding from intellisense is a good idea @mqudsi, I've added that! We still won't be able to do anything any sooner though, we simply don't have the time to annotate the APIs right now before 1.0 GA. But hopefully we can annotate the APIs soon after 1.0 GA.

[2021-11-08 22:29] aeloros commented on #1245
RE: Background Activations
IActivatedEventArgs are typically only for Foreground activations.  I don't see anything that leads me to believe background activations were expanded.

RE: 44 vs 4 activation types
The sections these are under are specific to Packaged vs Unpackaged.  Packaged applications have 44 activation types and Unpackaged applications have only the 4.

Does that help clarify?

Tha

[2021-11-08 23:32] Gavin-Williams commented on #1730
It seems crazy doesn't it.

[2021-11-09 02:05] BenJKuhn commented on #1749
The servicing update had been published to Nuget.org but not deployed to the store. The updated framework is now available in the store as well.

[2021-11-09 03:06] Jaiganeshkumaran commented on #1730
To be fair to UWP, Microsoft should also not support WinForms and WPF anymore especially with latest .NET support.

[2021-11-09 05:40] seanocali commented on #974
I'm getting this on 1.0.0-preview3.

[2021-11-09 06:25] jaigak opened #1750 "Ability to associate an unpackaged app with an uninstaller entry"
# Proposal: Ability to associate an unpackaged app with an uninstaller entry
Today Windows offers the ability to uninstall apps from the Start menu. When you use the uninstall option from the Start menu context menu, if it's packaged, the app gets uninstalled directly otherwise it opens the Control Panel's Programs and Features page where you have to manually select and uninstall. Consider adding

[2021-11-09 09:00] mikehearn commented on #1732
Supposedly a fix has already entered the update stream but some of us don't seem to have it. Or maybe we do now - there was an update a few days ago and I haven't bothered re-testing since that.

Regardless, Windows updates take time to propagate, so the workaround will be required for (my guess) a year or two at least, for people who don't control the Windows versions of their users. I would sugg

[2021-11-09 17:48] arivoir opened #1757 ""Live Property Explorer" not showing custom controls"
### Describe the bug

When selecting an element in the "Live Visual Tree" its properties are displayed in "Live Property Explorer"

![image](https://user-images.githubusercontent.com/17496741/140976492-7a1a4677-2b65-42fa-b8c5-353570343148.png)

But this looks only for the framework controls, custom controls show nothing

### Steps to reproduce the bug

1. Run any application having a custom contro

[2021-11-09 18:19] andrewleader commented on #1749
Closing as 0.8.5 is now available in the Store as Ben said!

[2021-11-09 18:19] #1749 closed

[2021-11-10 06:16] stewienj commented on #974
I'm not getting this issue on my dev machine, but when I copy my app (unpackaged) to a virtual machine for testing, and install the Microsoft.WindowsAppRuntime.Redist.1.0.0 I seem to be missing this file that exists on my dev machine:
C:\Program Files\WindowsApps\Microsoft.WindowsAppRuntime.1.0-preview3_0.297.2018.0_x64__8wekyb3d8bbwe\Microsoft.ui.xaml.dll

I was following the instructions on this

[2021-11-10 08:10] devlead commented on #974
I'm getting this too on my Windows 10 VM, but works fine on Windows 11 Desktop, VM and Surface GO 3 Win11.

[2021-11-10 08:47] dtynewydd opened #1761 "Touch Input Issues"
### Describe the bug

Since upgrading to Preview 3, WinUI 3 apps seem to be missing some touch functionality.

- Soft keyboard does not appear when tapping on text boxes. I've tried putting break points in the FocusEngaged and Tapped events but these are not triggered
- Long presses do not seem to register as right clicks. This means no context menus or even the visual feedback that a right click

[2021-11-10 10:56] devlead opened #1762 ".NET 6 and WINUI3 fails to start Unable to load DLL 'Microsoft.ui.xaml.dll'"
### Describe the bug

When running WINUI3 on Windows 10 ( 21H1 19043.1083 ) looks like the application never launches, but is application crashes with the below error in the event log

[code]

### Steps to reproduce the bug

### Packaged
1. Install Windows 10 21H1 19043.1083
1. Install the latest Microsoft.WindowsAppRuntime.Redist.1.0.0
1. Install MSIX dependencies
1. Install application MSIX
1. L

[2021-11-10 11:32] kinkycat91 opened #1763 "This change helps solve this problem : https://github.com/microsoft/WindowsAppSDK/issues/1683. By using failfast instead of exit, there will not be a compile time error."
This change helps solve this problem : https://github.com/microsoft/WindowsAppSDK/issues/1683. By using failfast instead of exit, there will not be a compile time error.

__Originally posted by @ShashankNay in https://github.com/microsoft/WindowsAppSDK/pull/1735__

[2021-11-10 13:13] kmgallahan commented on #1762
https://github.com/CommunityToolkit/WindowsCommunityToolkit/pull/3998#issuecomment-963546873

[2021-11-10 15:29] devlead commented on #1762
Currently, get same issue with .NET 5 too though
[code]

Works on a Machine with Visual Studio and Visual Studio Extension installed.

[2021-11-10 15:36] devlead commented on #1762
Seems like others are having similar issues #974

[2021-11-10 18:29] tibel commented on #1652
Looks like no one tested building with .NET SDK :cry:

@snickler So this is an MSBuild issure right? Maybe you could report this in dotnet/msbuild project.

[2021-11-10 18:31] jeromelaban commented on #1652
This is probably not an msbuild issue, but rather the fact that the WinAppSDK (and the WinUI 3 XAML compiler, if you manually fix this issue) rely on the behavior of the .NET framework 4.x.

[2021-11-10 19:29] mveril opened #1765 "Allow to show an AppWindow in all Desktop"
# Proposal: Allow to show an AppWindow in all Desktop

## Summary

This proposal allows to set the "Show this window on all desktop" feature for an AppWindow espescialy for the CompactOverlay pesenter
## Rationale

* This feature is very useful for compact overlay
* I always enable it when I use PIP in Microsoft Edge
* When we use a compact overlay, I think this behavior is expected by the user
*

[2021-11-10 19:47] andrewleader opened #1766 "AppInstance: Closing first instance causes second instance to crash if second instance called GetInstances()"
### Describe the bug

It seems that if the second instance of the app calls GetInstances() and then later you exit the first instance of the app, the second instance freezes up and then crashes after being frozen for 10 seconds.

### Steps to reproduce the bug

1. Install the Windows App SDK Gallery: https://github.com/andrewleader/WindowsAppSDKGallery/releases/tag/v0.0.1
2. Launch two instances o

[2021-11-10 19:58] aeloros commented on #1766
This is fixed with #1636 which is not in Preview3, but made it into GA.

[2021-11-10 19:58] #1766 closed

[2021-11-10 21:04] andrewleader opened #1767 "AppLifecycle: Registering a key, unregistering it, and re-registering it causes the app to crash"
### Describe the bug

**Internal bug:** https://dev.azure.com/microsoft/OS/_workitems/edit/36765493

**What is the product/business impact?**
The ability to unregister (and re-register) is a key part of the feature: without this, the feature is unusable in many scenarios.

**What is the issue?**
If multiple instances register/unregister the same key, this causes the app to crash.

**What is the fi

[2021-11-10 21:05] andrewleader commented on #1767
This has been fixed in the upcoming 1.0 GA release, closing!

[2021-11-10 21:05] #1767 closed

[2021-11-10 22:09] riverar opened #1768 "PowerManager.EffectivePowerMode doesn't reflect selections in the classic Control Panel power settings page"
### Describe the bug

Internal bug: https://microsoft.visualstudio.com/OS/_workitems/edit/37068244

PowerManager.EffectivePowerMode does not appear to be returning the correct results if I change my power plan in the classic Control Panel Power Options settings.

### Steps to reproduce the bug

1. Open Power Options (classic Control Panel) and set plan to `High Performance`.
2. Create new packaged

[2021-11-10 23:18] timmarriott opened #1769 "Migrating UWP app to WindowsAppSDK. Can't navigate to page from Windows Runtime Component"
### Describe the bug

App.xaml.cpp is just activates the MainWindow which is exactly what it does out of the box.  I attempted to put the page navigation code in there as documented but didn't work.  Now MainWindow.xaml had a named <Frame x:Name="rootFrame Loaded="Loaded"/>

In the Loaded Event for the Frame I am calling rootFrame().Navigate(xaml_typename<Component::BlankPage>(), *this);

In eithe

[2021-11-11 00:36] andrewleader commented on #1769
@evelynwu-msft is this the known issue with Component Libraries exposing controls (or in this case Pages) not working with single-project MSIX?

[2021-11-11 00:39] andrewleader commented on #1691
Closing as we've fixed this in the upcoming 1.0 GA release!

[2021-11-11 00:39] #1691 closed

[2021-11-11 00:41] andrewleader commented on #1768
@aeloros do you own the PowerManager APIs?

[2021-11-11 00:44] evelynwu-msft commented on #1769
This is a duplicate of internal bug https://task.ms/36925415.

[2021-11-11 00:47] evelynwu-msft commented on #1769
@timmarriott Unfortunately this is a known issue for 1.0, but you can work around it by adding the following target to the end (after all imports of `.targets` files) of your Windows Runtime Component's `.vcxproj`:

[code]

[2021-11-11 01:12] andrewleader commented on #1768
Also @riverar I wasn't able to repro this problem. I'm using 1.0 Preview 3 and tried on both the public non-insider Win11 and my latest internal build of Win11.

![EffectivePowerMode2](https://user-images.githubusercontent.com/13246069/141219015-9b28f1b4-6b37-4bb6-abe7-ca924d09dc84.gif)

Are you using the modern settings app or setting the power mode elsewhere?

Here's that app I'm using to test i

[2021-11-11 01:25] aeloros commented on #1768
I don't own them.  Take a look at Git history, and it might show who does all the work.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Andrew Leader ***@***.***>
Sent: Wednesday, November 10, 2021 5:12 PM
To: microsoft/WindowsAppSDK ***@***.***>
Cc: Scott Darnell ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/WindowsAppSDK] PowerManager.EffectivePo

[2021-11-11 01:40] jonwis opened #1770 "PowerManager.EffectivePowerMode should not be IAsyncOperation<T> typed as a property"
### Describe the bug

This property should instead be `EffectivePowerMode EffectivePowerMode { get; }` - WinRT properties aren't supposed to be of type `IAsyncOperation<T>` or `IAsyncAction` except in some very special cases.

See #1142 for where this was introduced, https://github.com/microsoft/WindowsAppSDK/blob/97943aa2c8f17573d4d71e7ad71dc507363f1f24/dev/PowerNotifications/PowerNotifications.i

[2021-11-11 02:40] riverar commented on #1768
Ah, I was not using the modern options. I was using the Power Options applet (pictured below). Might be worth noting this somewhere in docs.

![image](https://user-images.githubusercontent.com/475132/141227612-c6512d2d-b3f0-4fad-a0f1-85e67f73c9ad.png)

[2021-11-11 05:23] jonwis commented on #1768
(PS: I've asked @huzaifa-d and @brialmsft to chat with our power folks; if there's really a difference in what the API, modern settings, and legacy control panel show here that's something we should figure out.)

[2021-11-11 05:24] jonwis commented on #1768
Also, this `EffectivePowerMode` property should be a simple value, not an `IAsyncOperation<T>` - see #1770 tracking work on that.

[2021-11-11 05:56] riverar commented on #1768
Thanks @jonwis. Feel free to re-open if you feel it's warranted.

[2021-11-11 06:41] seanocali commented on #974
I'm running Windows 10, not a VM.

[2021-11-11 09:47] seven-mile commented on #1687
Will these unpackaged API be fixed before GA version? This breaks x:Uid localization and seems to have no workaround.

[2021-11-11 16:07] ebosvitas opened #1773 "WinRT Theme loading error not specific enough"
### Describe the bug

When loading a custom theme. If you specify only a "Light" theme and nothing esle the applicaiton wont start if your windowds is set to "Dark". Not in debug/release from VS or when packaged.

The probelm is that the error is generic and tell you it can't find the key it's looking for. Instead of it telling you there is no such ResourceDictionary with the key your are looking

[2021-11-11 17:17] andrewleader opened #1775 "Build warning of missing winmds in 1.0 for C++ project"
### Describe the bug

Internal bug: https://microsoft.visualstudio.com/OS/_workitems/edit/37005396

When building C++ project, it will show following warnings. That's because we removed those winmds from 1.0 stable, but didn't remove the references in the targets.

### Steps to reproduce the bug

1. Create a C++ project using 1.0
2. Notice the warnings that appear

### Expected behavior

No warnin

[2021-11-11 17:39] andrewleader commented on #1012
@DrusTheAxe is this fixed in 1.0?

[2021-11-11 17:50] andrewleader commented on #1564
Hi @seven-mile, I believe this was fixed in 1.0 Preview 3. It has definitely been fixed in the upcoming 1.0 GA, marking as closed. Thanks!

[2021-11-11 17:50] #1564 closed

[2021-11-11 20:03] huichen123 commented on #1687
sorry, it will not be fixed for GA.

[2021-11-11 21:33] andrewleader opened #1776 "Remove non-functional APIs that always return null, like Window.Current"
This is the follow-on task from #1660. There are several APIs in our API surface that always return null and confuse developers, like `Window.Current` and also `Window.Dispatcher` and more. The presence of these non-functional APIs makes it more difficult to code and more difficult to migrate from UWP, since any developer would expect these APIs to work since they're there, but they actually just

[2021-11-11 21:47] MikeHillberg commented on #1762
I've seen that when the [VCRedist ](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170) wasn't installed on the target machine, which would explain why you don't see it on a machine with VS installed.

[2021-11-11 21:50] AdamBraden commented on #1750
Sounds like a shell integration issue more than a WinAppSDK issue. @jvintzel where would be the best place to direct this feature request?

[2021-11-11 22:23] IsmailHassani opened #1777 "Cannot build any project from template due to "Could not copy the file Microsoft.WindowsAppSDK.Bootstrap.dll""
### Describe the bug

Any project I create that uses MS WindowsAppSDK fails on build ith this message.
[code]

### Steps to reproduce the bug

Create a new project:
 - Experimental Class Library (WInUI 3 in Desktop)
 - Class Library (WinUI 3 in Desktop)

And try to build it.
It fails directly. Even if clean all obj/bin folders and clean the nuget cache.

### Expected behavior

It should build corr

[2021-11-11 22:30] pmpurifoy commented on #1777
I believe building with AnyCPU is not supported. It is only x86, x64, and arm64.

[2021-11-11 22:36] IsmailHassani commented on #1777
Ok, maybe i try to do something wrong, but essentially i want to create 1 multi platform nuget from 1 project.

This is how the project file is set up:
It's automatically done by the template... so what am i missing here?

[code]

[2021-11-11 23:31] stewienj commented on #1762
@MikeHillberg Thanks, that was the solution to this problem.

[2021-11-12 00:20] riverar commented on #1770
Why are we concerned about breaking changes when preview to GA is **expected** to introduce breaking changes?

[2021-11-12 00:23] andrewleader commented on #1767
Update: Sorry, will actually be fixed in the 1.0.1 servicing update!

[2021-11-12 00:25] timmarriott opened #1780 "Win32 Desktop functions not available in WinUI 3 Runtime Component."
### Describe the bug

Attempting to bring up a FilePicker in from a Windows Runtime Component which was started using the WinUI 3 template.   When using #include <shobjidl_core.h> I get a large number of compile issues.  It seems that the Component is not a Desktop component so large parts of the header are #ifdef'ed out.

### Steps to reproduce the bug

Create a Windows Runtime Component with a P

[2021-11-12 00:37] riverar opened #1781 "Product Board missing 1.0 features from roadmap"
Per announcement, Product Board has replaced the Windows App SDK roadmap documentation. But Product Board is missing [previously listed 1.0 features](https://github.com/microsoft/WindowsAppSDK/blob/v1.0.0-preview3/docs/roadmap.md), which may lead to confusion, panic, and/or volcanoes.

Product Board currently shows 8 items as landing for 1.0:
![image](https://user-images.githubusercontent.com/4751

[2021-11-12 00:42] devlead commented on #1762
@MikeHillberg this indeed sorted the issue 👍

[2021-11-12 00:42] #1762 closed

[2021-11-12 01:19] andrewleader commented on #1781
Thanks @riverar for the feedback.

In 1.0, the packaged and unpackaged features are supported equally (aside from [XAML Hot Reload and Live Visual Tree](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/43-xaml-hot-reload-live-visual-tree-works-with-unpackaged-winui-3-apps)) so we're removing the distinction between what's supported in packaged vs unpackaged.

WinUI 3 is listed in the

[2021-11-12 01:25] andrewleader commented on #1780
@evelynwu-msft is this a similar "Desktop APIs not available from C++" bug in 1.0 Preview 3? In this case it seems it's from a WinUI 3 Runtime Component (a library) rather than the app itself, but is it the same bug?

[2021-11-12 01:47] riverar commented on #1781
@andrewleader Thanks, I missed the items on the Released tab!

[2021-11-12 01:52] evelynwu-msft commented on #1780
@andrewleader Similar, but it's a different bug. I suspect that the change we made ages ago to allow C++ Windows Runtime Components to be useable by Desktop WinUI apps (by setting `<DesktopCompatible>true</DesktopCompatible>`) doesn't actually lift the UWP-only API restriction.

[2021-11-12 02:18] shelllet opened #1782 "[Packaged App]`co_await` does't return to ui thread. when the call `PickSingleFolderAsync` is completed"
### Describe the bug

Internal bug https://task.ms/37013204

windowsappsdk preivew-3:
`StorageFolder folder = co_await picker.PickSingleFolderAsync();`

at this point

call `DependencyObject::SetValue`  throw errors.

`The application called an interface that was marshalled for a different thread`
//

### Steps to reproduce the bug

1.  Create c++ package app by windowsappsdk.

2. Call `FolderPick

[2021-11-12 06:21] DrusTheAxe commented on #1012
Yes fixed a while back just forgot to update this issue

[2021-11-12 06:21] #1012 closed

[2021-11-12 06:23] #1781 closed

[2021-11-12 06:23] DrusTheAxe commented on #906
Reassigning to @zaryaf for follow up (all the build\nuspecs\intellisense files need updating)

[2021-11-12 06:24] DrusTheAxe commented on #570
This was completed just missed updating the issue

[2021-11-12 06:24] #570 closed

[2021-11-12 06:25] DrusTheAxe commented on #89
Mission accomplished, just forgot to resolve the issue

[2021-11-12 06:25] #89 closed

[2021-11-12 07:00] ParkhutRoman commented on #1777
@IsmailHassani 1.0.0-experimental1 != 1.0.0-preview3 . Wrong template

[2021-11-12 07:32] IsmailHassani commented on #1777
I have

I have this issue also with the preview3 template.

[2021-11-12 07:41] ParkhutRoman commented on #1777
Windows 11 (22000) is way too old

[2021-11-12 08:35] Jaiganeshkumaran opened #1784 "C++ apps - define a macro for WinUI 3"
Many C++ libraries are often header-only or define their public API surface in a header file. I expect many libraries to support WinUI 3 and they may need conditional compilation to support other existing frameworks/platforms. While they could tell users to define a macro for that, since this will be common, consider defining a preprocessor directive in the C++ project templates for WInUI 3.

[2021-11-12 10:50] jvintzel commented on #1750
Feedback Hub would be the best place for this ask.

[2021-11-12 17:28] rohanp-msft opened #1786 "In .NET projects, when a resource file is added using the VS UI, the files may not be indexed by default."
### Describe the bug

In .NET projects, when a resource file is added using the VS UI, the files may not be indexed by default.

### Steps to reproduce the bug

Examples of this issue:

If the files are added through UI, VS will automatically add something like this for a WPF app:
[code]

For a WinForm/Console app, what’s added is a little different:
[code]

### Expected behavior

`Content Remove`

[2021-11-12 17:34] rohanp-msft commented on #1504
This issue is actually this broader issue: https://github.com/microsoft/WindowsAppSDK/issues/1786. Closing this.

[2021-11-12 17:34] #1504 closed

[2021-11-12 22:48] timmarriott commented on #1769
I found that the work around does enable things to work, but not quite right using a Project with integrated MSIX.   One issue is that WebView2 does not show the webpage.  Also, some bindings don't seem to be working.

If I use the WAP template everything works fine.  The work around is needed so Resources work correctly.

[2021-11-12 23:51] Scottj1s opened #1788 "C++ project templates should specify variable toolset"
### Describe the bug

C++ templates should specify default toolset based on the VS version, [like C++/WinRT does](https://github.com/microsoft/cppwinrt/blob/bddd2e1303ecdf4c26e4721cc6b66a58b37d9949/vsix/ProjectTemplates/VC/Windows%20Desktop/ConsoleApplication/ConsoleApplication.vcxproj#L36-L37):
    <PlatformToolset>v143</PlatformToolset>
    <PlatformToolset Condition="'$(VisualStudioVersion)' ==

[2021-11-13 01:19] baskren opened #1789 "[UWP] Click of Button with Flyout crashes when built with NativeToolchain AND app project references an unused library project that contains a XAML page"
### Describe the bug

If you have a UWP application with the following conditions:
- Contains a **Button** with a **MenuFlyout** as its **Flyout**
- Compiled with Native Toolchain
- References another project that contains a XAML**Page**

... the app will crash when the **Button** is pressed.
![image](https://user-images.githubusercontent.com/2528888/141599879-3ad9699f-3b1d-476d-8d10-83cc9158e6a2.

[2021-11-13 05:27] Jaiganeshkumaran commented on #1780
The description for the Windows Runtime Component (WinUI 3) C++ project template says that it can be used in both UWP and desktop apps which means it shouldn't access Desktop only APIs.

[2021-11-13 21:22] timmarriott commented on #1780
Ok,  then there is no way to bring up file/folder pickers from a windows runtime component since they now need access to the HWND and a Win32 only api to associate it with the picker.

On Nov 12, 2021, at 9:28 PM, Jaiganesh Kumaran ***@***.***> wrote:

﻿
This email is not from Hexagon’s Office 365 instance. Please be careful while clicking links, opening attachments, or replying to this email.

Th

[2021-11-13 22:54] riverar commented on #1780
This description is indicating that Windows Runtime components can target one or more device families, to include desktop PCs. It's perfectly valid to consume Desktop APIs and only target desktop PCs.

[2021-11-13 23:08] timmarriott commented on #1780
That is what I am trying to do and it does not work.

On Nov 13, 2021, at 2:54 PM, Rafael Rivera ***@***.***> wrote:

﻿
This email is not from Hexagon’s Office 365 instance. Please be careful while clicking links, opening attachments, or replying to this email.

The description for the Windows Runtime Component (WinUI 3) C++ project template says that it can be used in both UWP and desktop apps wh

[2021-11-14 00:54] riverar commented on #1780
@timmarriott Every time you reply via email, a bunch of your signature comes along and trashes the issue. Can you clean up the thread here?

[2021-11-14 18:13] timmarriott commented on #1780
Sorry about that.  Should be cleaned up now.  Thanks for letting me know.

[2021-11-14 18:21] timmarriott commented on #1780
We just started writing a new Application and decided to use C++/WinRT.  Initially this was limited to UWP which is not really what we wanted.  When I saw the Windows App SDK I jumped on board and began to port my UWP app to that.  I made heavy use of Windows Runtime Components which are great.  We are also targeting Desktop PC as the platform.

One of my Runtime Components uses a FilePicker and a

[2021-11-15 01:37] Jaiganeshkumaran commented on #1780
For file picker, you can use APIs in the Windows.Storage.Pickers* namespace instead of the old Win32 file picker APIs.

[2021-11-15 06:07] Jaiganeshkumaran commented on #134
When launching the app package for installation in App Installer, there could be a run once option if it detects that there's an activatable app inside the package.

[2021-11-15 14:05] muramasa opened #1795 "Cannot include WebView2 Control in Windows App SDK preview 3 C++ App"
### Describe the bug

- create WinUI3 C++ Desktop Application by Windows App SDK Preview 3
- add WebView2 component. (https://docs.microsoft.com/en-us/microsoft-edge/webview2/get-started/winui)
- build app
- run app

expected behavior:

run and show the web page in WebView2

actual behavior:

exception with

Exception thrown at 0x00007FFF55724F69 in WebViewTestApp.exe: Microsoft C++ exception: win

[2021-11-15 14:42] Jaiganeshkumaran commented on #1648
Then send feedback to them. Because Edge is doing something bad doesn't mean other apps should do the same too.

[2021-11-15 15:23] Jaiganeshkumaran commented on #1780
Workaround: Instead of including the header that contains the interface, copy just the interface definition and paste it into the source file that you're using it in.

[2021-11-15 17:54] seven-mile commented on #1733
Currently the methods naming of AppWindow is very strange, I prefer to unifying all of those functionalities with only properties or only direct getters and setters.

[2021-11-15 18:44] andrewleader commented on #1782
@BenJKuhn @Scottj1s would this co_await issue be either of your areas of expertise? It sounds like in Preview 3 we possibly regressed the behavior of co_await in C++ apps and it doesn't return back to the UI thread anymore?

[2021-11-15 18:52] riverar commented on #1788
Just hit this bug myself today, thanks for filing a bug @Scottj1s. Definitely not great out of the box UX.

[2021-11-15 18:56] Demonese opened #1796 "Blank App, Packaged (WinUI3 in Desktop) template project: missing High DPI awareness"
### Describe the bug

Window contents are blur.
In TaskManager, the DPI awareness is "Unknown".

### Steps to reproduce the bug

1. using "Blank App, Packaged (WinUI3 in Desktop)" template to create a c++ project
2. build and run

### Expected behavior

Window contents are clear.
The DPI awareness is "PerMonitorV2".

### Screenshots

![image](https://user-images.githubusercontent.com/57629614/1418

[2021-11-15 21:29] riverar commented on #1780
Hi @timmarriott, here's a very contrived sample based on the template for your reference https://github.com/riverar/was-repros/tree/master/was_issue_1780

Some things to note:
* Looking at msbuild binlogs `<DesktopCompatible>` doesn't seem to be wired into anything. It gets set by `Microsoft.Cpp.Default.props`, reset by the component project, then never touched again? (@angelazhangmsft @andrewlead

[2021-11-15 22:35] btueffers commented on #1784
Hi @Jaiganeshkumaran, thanks for the feedback! We're tracking this request internally with [productboard](https://portal.productboard.com/winappsdk/1-windows-app-sdk) and considering it for a future release.

[2021-11-15 22:43] Code-ScottLe opened #1797 "LaunchActivatedEventArgs does not contain command line input parameter"
### Describe the bug

The app currently does not show any input parameters when launching from CMD using execution alias. LaunchedActivatedEventArgs.Arguments shows blank/null. This is using the Single-project packaged WinUI 3 project template.

### Steps to reproduce the bug

1. Create a single project packaged blank app with WinUI 3 desktop
2. Add execution alias in the Project package.appxmanif

[2021-11-15 22:55] timmarriott commented on #1780
Thanks.  I will take a look.

In the meantime, I am up and running with the work around idea provided.  I basically pulled what I needed to get IInitializeWithWindow to work.  The code I pulled was directly from the Win32 header with only a few small updates. The following code for your information:
//#include <shobjidl_core.h>  // <<< Can't include this header in a Windows Runtime Component.
#ifn

[2021-11-16 03:06] riverar commented on #1780
Don't use that workaround, that's a terrible idea. I believe the sample I provided has everything you need.

[2021-11-16 03:35] timmarriott commented on #1780
Thanks, I agree that it is a terrible idea, but I assumed short term so I went with it.

I am working with your sample and have it building but there is a collision in the Macro GetCurrentTime.  It appears that it is defined differently in Win32 than in WinRT or Windows App SDK.  I ran out of time today to continue working on it but will continue tomorrow.  The issue is reported as the following:

[2021-11-16 04:47] andrewleader commented on #1588
Updating milestone to 1.0.1, this did not make the GA but we'll fix it in servicing.

[2021-11-16 15:32] andrewleader commented on #1782
@BenJKuhn this looks like a dupe of https://microsoft.visualstudio.com/OS/_workitems/edit/37013204 which @MikeHillberg is assigned to. @MikeHillberg is this indeed a dupe of your `co_await` bug?

[2021-11-16 15:50] asklar commented on #1797
Duplicate of microsoft/microsoft-ui-xaml#3368

[2021-11-16 15:50] #1797 closed

[2021-11-16 16:02] andrewleader opened #1803 ".NET publish as single file is broken (also dependency file is missing entries)"
### Describe the bug

Internal bug: https://microsoft.visualstudio.com/OS/_workitems/edit/37013389

Rohan found two gaps in the .NET publish scenario (after fixing the basic scenario using https://microsoft.visualstudio.com/WinUI/_git/Microsoft-WinUI-Sdk/pullrequest/6634696):

Single file publish doesn't work as expected and it's not just us:
![image](https://user-images.githubusercontent.com/1324

[2021-11-16 17:01] martibravo opened #1804 "App Failfasts on close when AppWindow.TitleBar.Extends... is set to true"
### Describe the bug

A blank app with 1.0.0-preview3 crashes when clicking the close button in the titlebar, if client area is extended into the titlebar with `AppWindow.Titlebar.ExtendsContentIntoTitlebar = true;`

Call stack:
![image](https://user-images.githubusercontent.com/7605780/142030302-5a09ab6f-da3e-477f-a3db-f3862de515f9.png)

### Steps to reproduce the bug

1. Create a blank app and s

[2021-11-16 18:05] andrewleader commented on #916
Closing this old issue. If anyone still has remaining issues, please open or re-ping a different thread.

`dotnet build` is not supported yet as we still have `msbuild` dependencies.

[2021-11-16 18:05] #916 closed

[2021-11-16 18:14] martibravo commented on #1804
Fixed in 1.0.0 GA. Closing.

[2021-11-16 18:14] #1804 closed

[2021-11-16 19:10] azchohfi commented on #1217
@AdamBraden This seems to have been fixed for 1.0.0 GA, so no workaround needed anymore. Is there any more work needed for this?

[2021-11-16 19:14] dotMorten commented on #1217
Confirmed!

[2021-11-16 19:14] #1217 closed

[2021-11-16 19:57] AdamBraden commented on #1217
yes, we fixed dlls, but still need to correct Exes because the runtime layout fix didn't make it into 1.0. See #893 and #1777.

[2021-11-16 20:05] andrewleader commented on #1668
Thanks @chiddekel, .NET MAUI is our supported platform and where we are investing for writing a desktop app that runs on Windows and Mac: https://docs.microsoft.com/en-us/dotnet/maui/what-is-maui

And it looks like MAUI has some Linux support provided by the community according to their docs: https://docs.microsoft.com/en-us/dotnet/maui/supported-platforms#additional-platform-support

[2021-11-16 20:05] #1668 closed

[2021-11-17 00:09] andrewleader commented on #491
Single-project MSIX has been shipped in 1.0 today!

[2021-11-17 00:09] #491 closed

[2021-11-17 00:14] andrewleader opened #1808 "Single-project MSIX doesn't support producing a MSIX Bundle"
### Describe the bug

Despite selecting "Generate app bundle = Always" in the UI, a .msixbundle file is not generated. The root cause is that single-project MSIX doesn't support generating MSIX Bundles today, however that manifests as a bug to the developer since the UI allows you to select an option that doesn't work.

![image](https://user-images.githubusercontent.com/13246069/142085992-56116f14

[2021-11-17 00:26] tristanb-ntdev commented on #1768
@riverar This is a discrepancy between the configuration model used by the power control panel's power schemes vs. the power mode exposed in the settings app. The power control panel is a legacy mechanism which offers fixed behaviors for power/performance tradeoffs, compared to the modern power mode which combines user preferences with scenario/workload detection for better optimization. As it is

[2021-11-17 01:01] andrewleader opened #1809 "Cannot update NuGet package due to conflicting BuildTools versions"
### Describe the bug

Internal bug: https://task.ms/37068467

Our project templates have an explicit reference to the [BuildTools package](https://www.nuget.org/packages/Microsoft.Windows.SDK.BuildTools/), and the WinAppSDK package also has a dependency reference on it.

This causes some problems when trying to update the WinAppSDK package due to conflicting BuildTools versions. Uninstalling the B

[2021-11-17 01:09] AdamBraden commented on #1777
For .NET dlls, this is fixed in the 1.0 GA release - please update to the latest 1.0 nuget.

For .NET Exes, it is still broken, see #893

[2021-11-17 01:41] LuanVSO commented on #390
could there be a refreshEnv function to update the current process env?

[2021-11-17 02:05] huichen123 commented on #1775
should have been fixed by https://github.com/microsoft/WindowsAppSDK/pull/1799

[2021-11-17 06:06] anovik opened #1811 "KeyboardInput doesn't exist in Microsoft.UI.Input for WindowsAppSDK 1.0"
### Describe the bug

I have the error for WindowsAppSDK 1.0 release while running the following code:

`KeyboardInput.GetKeyStateForCurrentThread(VirtualKey.Shift);`

This is the error text:

The name 'KeyboardInput' does not exist in the current context

In the documentation the [method](https://docs.microsoft.com/en-us/windows/winui/api/microsoft.ui.input.keyboardinput.getkeystateforcurrentthre

[2021-11-17 06:24] riverar commented on #1811
I can reproduce this, seems missing from 1.0 metadata as well. @andrewleader Wondering if this got mistakenly dropped when `ExpKeyboardInput` got dropped? Or?

[2021-11-17 06:41] asklar commented on #1811
@jlnordin @JesseCol fyi

[2021-11-17 06:51] selvam920 opened #1812 "Navigationview Menu item alignment issue"
### Describe the bug

the UI of the child menu items is properly aligned

### Steps to reproduce the bug

<NavigationView x:Name="nvMain" IsBackEnabled="True" IsPaneVisible="False"
                         PaneDisplayMode="Top" Loaded="nvMain_Loaded"
                         ItemInvoked="NavView_ItemInvoked"
                         BackRequested="nvMain_BackRequested">
            <NavigationView

[2021-11-17 07:44] lhak opened #1815 "Calling AppWindow apis does not work anymore for unpackaged apps"
### Describe the bug

After updating from preview 3 to the stable 1.0 release, calling appwindow apis like AppWindow.GetFromWindowId() causes the app to crash:

SEHException: External component has thrown an exception.

The debug output also shows this message:

"An attempt to delay load a .dll or get a function address in a delay-loaded .dll file failed"

The same code works fine when running as

[2021-11-17 10:30] qmatteoq commented on #1815
I'll add more details since I'm getting the same error. I'm starting from a WPF sample app, in which I successfully integrated Windows Apps SDK Preview 2 and 3. This is the code I use to retrieve an AppWindow from a HWND:

[code]
After migrating to 1.0 final, the last line (AppWindow.GetFromWindowId()) returns the following exception:

[code]

[2021-11-17 11:27] AtomicBlom commented on #1811
I've spent the past few days testing the waters to see how my company's application will port to WinUI 3 desktop, and have been following the documentation for App SDK 1.0 Preview 3.

I've been using `Microsoft.UI.Input.InputKeyboardSource.GetKeyStateForCurrentThread(VirtualKey.Shift)`, which seems to mirror what you have with a name change.

Now that I've updated to the release App SDK 1.0, I'm s

[2021-11-17 13:55] masonwu21 opened #1817 "Cannot install Dev17 VSIX in China"
### Describe the bug

when i install WindowsAppSDK.Cs.Extension.Dev17.Standalone.vsix ,it couldn't download Microsoft.VisualStudio.Ide.Payload in china internet

2021/11/17 18:45:26 - 找到的已安装产品 - 全局位置
2021/11/17 18:45:26 - 找到的已安装产品 - Visual Studio Enterprise 2022 Current
2021/11/17 18:45:26 - ID 为“Microsoft.WindowsAppSDK.Cs.Dev17”的扩展未安装到 Visual Studio Enterprise 2022 Current。
2021/11/17 18:45:31 -

[2021-11-17 15:32] plonkaadam opened #1818 "Unpackaged application doesn't start on release 1.0"
### Describe the bug

Blank application doesn't start in unpackaged mode. Application ends immediately with System.Runtime.InteropServices.COMException in Microsoft.WindowsAppRuntime.Bootstrap.Net.dll
Exit code 2148734499 (0x80131623).

### Steps to reproduce the bug

1. Follow steps on https://docs.microsoft.com/pl-pl/windows/apps/winui/winui3/create-your-first-winui3-app?pivots=winui3-unpackaged

[2021-11-17 15:34] #1818 closed

[2021-11-17 15:47] plonkaadam commented on #1818
Closing as it works after installing updated WindowsAppRuntime, I didn't upgrade it from preview3.
Some meaningful message about missing runtime would be nice

[2021-11-17 15:49] andrewleader commented on #1811
Thanks for reporting this folks!

I'm going to investigate with the feature teams, in the meantime, what seems most likely is that the API was renamed from 0.8 to 1.0 (and `InputKeyboardSource` is the new one going forward is my guess), and the API docs for the Input namespaces for 1.0 Stable somehow got the wrong metadata.

I'll report back when I have more info!

[2021-11-17 20:49] AathifMahir opened #1819 "Snap Layout on Win 11 Doesn't Show up When ExtendsContentIntoTitleBar is True"
### Describe the bug

When we set ExtendsContentIntoTitleBar to **true** in the App.xaml.cs, The Windows 11 Snap layout Doesn't Show up but it works fine if we set ExtendsContentIntoTitleBar to **false**

### Steps to reproduce the bug

1. Go to App.xaml.cs
2. Navigate to OnLauched Method
3. Write "m_window.ExtendsContentIntoTitleBar = true;"
4. Start the app

### Expected behavior

The Windows 11

[2021-11-17 21:17] dotMorten opened #1820 "MakePri verbose log isn't really verbose"
### Describe the bug

I'm hitting a build error in MakePri, telling me "ERROR: PRI175: 0x80073b0f - Processing Resources failed with error: Duplicate Entry.". This is with the /Verbose flag on, but there is no indication which files are duplicate. so it's near-impossible to find the bug.

### Steps to reproduce the bug

I don't have a share-able repro at this point, since the error message can't h

[2021-11-17 21:27] andrewleader commented on #1820
@axelandrejs MakePri is your area (resources/MRT), yeah?

[2021-11-17 21:28] andrewleader commented on #1819
Transferring to the WinUI repo as this is a property on the WinUI Window class.

[2021-11-17 21:30] andrewleader commented on #1817
Hey @DefaultRyan, this looks like a potential bug with installing the Dev17 VSIX in China.

[2021-11-17 21:33] andrewleader commented on #1815
@rkarman @mevey it sounds like the AppWindow APIs aren't working from unpackaged WPF apps, even though it used to work in Preview 3?

[2021-11-17 21:33] andrewleader commented on #1812
Transferring to WinUI repo as this is a WinUI issue.

[2021-11-17 21:35] mjfusa opened #1821 "Single-Project MSIX does not create .appinstaller or index.html files for auto-updates"
### Vote for [adding support for .appinstaller here](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/55-support-generating-appinstaller-file-in-single-project-msix)!

### Describe the bug

When building MSIX packages with a single project MSIX for automatic updates, the <project name>.appinstaller and index.html files are not created

### Steps to reproduce the bug

1. Install the Wi

[2021-11-17 21:39] huichen123 commented on #1820
I think we have fixed for this particular error, and we will print the resource name for this error. However the fix won't be available until next SDK.

[2021-11-17 21:44] dotMorten commented on #1820
@huichen123 Any ideas how to find the problem until the new SDK hits?

[2021-11-17 21:57] huichen123 commented on #1820
@dotMorten Try replace makepri.exe with the one from RS5 SDK.

[2021-11-18 01:36] riverar commented on #1821
@mjfusa Can you try building in Release? I have a faint memory of this (or something packaging project related) that just silently does nothing when building in Debug configurations.

[2021-11-18 01:45] mjfusa commented on #1821
Thanks for the suggestion @riverar - unfortunately I get the same result (no appinstaller or index.html files) in Release.

[2021-11-18 05:12] dotMorten commented on #1820
Found the problem, so here's a repro. Just unzip and build this:
[ArcGISRuntime.WinUI.Viewer.zip](https://github.com/microsoft/WindowsAppSDK/files/7560092/ArcGISRuntime.WinUI.Viewer.zip)

The build error can be fixed by deleting `Assets\Square44x44Logo.targetsize-24_altform-unplated.png`.

I'd like for the build error to help me realize this file is the problem (and why).

[2021-11-18 07:33] shelllet commented on #1614
`Windows::UI::Notifications::ToastNotificationManager::CreateToastNotifier().Show(notification);`
[code]

[2021-11-18 10:18] blake-fm commented on #1815
Following the [first app tutorial](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/create-your-first-winui3-app?pivots=winui3-unpackaged-csharp), adding the below to MainWindow.xaml.cs, repro's for me.

[code]

[2021-11-18 10:51] JaiganeshKumaran opened #1822 "WinRT API for DWriteCore that exposes the full surface"
Provide a WinRT API for DWriteCore that exposes the full surface. While libraries such as Win2D can provide a WinRT wrapper on top, they don't provide the full API surface as it is.

[2021-11-18 12:06] HavenDV commented on #1686
It seems it was not included in the 1.0.0 stable release. I still get an error if I don't apply the workaround

[2021-11-18 17:36] MartinRothschink commented on #1821
After changing my existing two project with separate packaging project into a single project I made the same observation. The index.html and app installers are missing.

[2021-11-18 19:04] ChrisGuzak opened #1823 "WinAppSdk app templates should generate code following coding best practices"
### Describe the bug

@angelazhangmsft updated the templates for the WinAppSDK samples in [this PR](https://github.com/microsoft/WindowsAppSDK-Samples/pull/107). These types of changes should be made to the templates that generate the WinAppSdk Apps.

### Steps to reproduce the bug

1. in VS create a new WinAppSdk C++ app using the templates
2. inspect the code

### Expected behavior

expected: th

[2021-11-18 20:13] DefaultRyan commented on #1817
Hi @andrewleader and @masonwu21 , is there any data to suggest that this is due to running in China and not some other element? This bug, as currently written, is not really actionable for me - I can't take a trip to China with a laptop to try and reproduce. Can somebody come up with some steps to be able to reproduce this issue?

Judging from the error log snippet, it looks like the VSIX installe

[2021-11-18 21:31] AdamBraden opened #1825 "[Unpackaged] - Improve error when bootstrapper cannot find default WindowsAppRuntime framework"
### Describe the bug

Using `<WindowsPackageType>None<WindowsPackageType>` feature in 1.0, auto-initializes the lookup for the WindowsAppRuntime framework package. However if the framework cannot be found, it results in a generic exception:

Exception thrown: 'System.Runtime.InteropServices.COMException' in Microsoft.WindowsAppRuntime.Bootstrap.Net.dll

Recommend a better exception or logging a de

[2021-11-18 21:39] dotMorten commented on #1825
This! Better errors that tells us what is wrong is essential for a good developer experience.

[2021-11-18 21:51] riverar commented on #1825
@zaryaf @DrusTheAxe

[2021-11-18 21:56] andrewleader commented on #1821
This is a known gap, single-project MSIX unfortunately doesn't support creating the appinstaller file. You can use the classic Windows Packaging Project (two projects) for now.

How important is appinstaller support in single-project MSIX for you? **You can add your vote here: https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/55-support-generating-appinstaller-file-in-single-project-ms

[2021-11-18 22:58] riverar commented on #1817
@DefaultRyan How is Microsoft testing Windows App SDK to ensure global readiness? Can't you reach out to someone in Microsoft China to try this?

[2021-11-18 23:02] dotMorten commented on #1817
@masonwu21 Can you install this? https://marketplace.visualstudio.com/items?itemName=ProjectReunion.MicrosoftSingleProjectMSIXPackagingToolsDev17

[2021-11-18 23:36] jlnordin commented on #1811
We found the documentation issue and it should now be corrected. @anovik:  `InputKeyboardSource.GetKeyStateForCurrentThread` is the correct API for WinAppSDK 1.0, just as @AtomicBlom mentioned. @AtomicBlom: The API documentation for InputCursor for 1.0 has also now been corrected.

[2021-11-19 00:10] stewienj opened #1826 "MergeWindowsAppSDKManifests target fails when username contains a space"
### Describe the bug

The MergeWindowsAppSDKManifests target at line 19 in .nuget\packages\microsoft.windowsappsdk\1.0.0\build\Microsoft.WindowsAppSDK.SelfContained.targets doesn't handle paths containing a space. The Exec command looks like this:

[code]
But should look like this:

[code]

The result is when you compile an app that has the property WindowsAppSDKSelfContained set to true you get t

[2021-11-19 04:41] DrusTheAxe commented on #1826
@BenJKuhn tag

[2021-11-19 06:02] anovik commented on #1811
`InputKeyboardSource` works fine for me, thanks for clarification.

[2021-11-19 09:10] Abdulrahmanelheyb commented on #583
![image](https://user-images.githubusercontent.com/45883300/142596210-6282b188-5d4a-4df9-b685-802cd70d0f91.png)
I get this error my pc is X64 hp 15-cc107nt

[2021-11-19 09:30] MartinRothschink commented on #1821
Thanks, voted.

[2021-11-19 11:38] JaiganeshKumaran opened #1827 "Proposal: Make existing Win32 file APIs brokered if possible"
# Proposal: Make existing Win32 file APIs brokered if possible

One of the problems faced within the App Container is that for IO, you have to either use APIs in the Windows.Storage namespace or Win32 APIs that are intended for brokered access. You can still use non-brokered APIs however only to access certain locations. For app-level access, this is mostly fine however many libraries/runtime use

[2021-11-19 11:59] sylveon commented on #1827
Brokering is a massive performance regression. Considering most people dislike Windows.Storage due to its poor performance, I don't think it's bright to make everything else slow as well.

[2021-11-19 12:05] Jaiganeshkumaran commented on #1827
That's right but this proposal isn't about brokering every IO call under user mode, rather when brokering is the only option to access that file/folder, use brokered access instead of failing because access denied when running under AppContainer.

[2021-11-19 17:27] dhoehna commented on #390
That is an interesting idea.

@andreww-msft I think this would be a good idea for vNext of EM.  What do you think?

[2021-11-19 21:36] #1777 closed

[2021-11-19 23:36] paulober opened #1830 "Build issue .NET 6 WinUI 3 APPX1101"
### Describe the bug

Does anybody have an idea how i can solve this build issue?

APPX1101 Payload contains two or more files with the same destination path 'MyProjekt.deps.json'. Source files:
C:\MyProjekt\MyProjekt\obj\x64\Debug\net6.0-windows10.0.22000.0\win10-x64\MyProjekt.deps.json
C:\MyProjekt\MyProjekt\bin\x64\Debug\net6.0-windows10.0.22000.0\win10-x64\MyProjekt.deps.json
C:\.nuget\package

[2021-11-20 00:59] angelazhangmsft commented on #1335
@yoshiask - there is a workaround [here](https://github.com/microsoft/CsWinRT/issues/970#issuecomment-902500420) that was mentioned above, can you confirm that you tried that and still got the `TypeLoadException` issue?

[2021-11-20 03:30] Samuel12321 commented on #1669
@jeffstall @jvintzel @anarvekar-msft @DrusTheAxeIs there any timeline for when this will be fixed?
I'm surprised this isn't required internally.

[2021-11-20 06:31] DrusTheAxe commented on #1669
@Samuel12321 something odd (or at least not widely understood) is going on. Please file a bug with FeedbackHub for further investigation.

In FeedbackHub under 2. Choose a category please specify Developer Platform > App deployment to ensure the key set of data is captured, and under 4. Add more details tap "Start recording", reproduce the issue, then complete the feedback and it'll report a bug w

[2021-11-20 06:43] Samuel12321 commented on #1669
@DrusTheAxe have filed the bug.

Bit concerned that this is the second time I have been told to report this elsewhere
MSIX GitHub repo -> WASDK -> Feedback Hub

[2021-11-20 09:12] drjofu opened #1831 "Enabling ImplicitUsings breaks compilation"
### Describe the bug

Setting
<ImplicitUsings>Enable</ImplicitUsings>
in project file causes an error:
'Version' is an ambiguous reference between 'Microsoft.WindowsAppSDK.Runtime.Version' and 'System.Version'

### Steps to reproduce the bug

create WinUI3 unpackaged project, enable implicit usings for project

### Expected behavior

no error

### Screenshots

_No response_

### NuGet package vers

[2021-11-20 11:05] pavll commented on #1830
Getting this error in a WinUI 3 project where the package is in the main project and not in a separate project. And when I try to package my app with an external package, it crashes and says every time I want to access `ApplicationView.GetForCurrentView()` or `CoreApplication.GetForCurrentView()`: `System.Runtime.InteropServices.COMException: "Element not found. (0x80070490)"`

[2021-11-20 11:59] roxk commented on #1830
I'm not sure about the package issue without more info, but `GetForCurrentView` and friends are [not supported in WinUI 3](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-supported-api). Please refer to that list and use the appropriate APIs instead.

[2021-11-20 23:26] DrusTheAxe commented on #1669
No need for concern. WASDK is more on point than MSIX GitHub repo, but it's unclear why there's a problem so FeedbackHub is a convenient way to share detailed logs for analysis, and submitting them via FeedbackHub keeps them handled appropriately (GDPR etc).

Have no fear, you're in the right neighborhood for the issue.

[2021-11-20 23:44] DrusTheAxe commented on #1831
Known issue and already addressed in main via [feat: Added global:: to MddBootstrapAutoInitializer. #1685](https://github.com/microsoft/WindowsAppSDK/pull/1685). Queued up for 1.0 servicing

You can workaround this for now by updating your local file with the content from the PR

[2021-11-21 10:50] pavll commented on #1830
Ok, and what's then the alternative for `CoreApplication.GetCurrentView().TitleBar.ExtendViewIntoTitleBar = true;
            ApplicationView.GetForCurrentView().TitleBar.ButtonBackgroundColor = Colors.Transparent;`?

[2021-11-21 16:24] JohnCido opened #1832 "AppInstance.FindOrRegisterForKey("main").IsCurrent is always true"
### Describe the bug

I was trying to use the code in [this repo](https://github.com/andrewleader/RedirectActivationWinUI3Sample) to add single instance functionality to my app. But as described in the title. The `AppInstance.FindOrRegisterForKey("main").IsCurrent` is always true. So I can't use this to terminate the existing app instance at all.

### Steps to reproduce the bug

1. Create a new So

[2021-11-22 05:12] ParkhutRoman commented on #1830
@pavll https://github.com/microsoft/WindowsAppSDK/issues/1626

[2021-11-22 07:00] BarcodeResource opened #1833 "AppInstaller Deployment Error 0x8000FFFF on Windows 11"
### Describe the bug

Windows 11
Visual Studio 2022
Windows App SDK 1.0.0
.NET 6.0

Create a Blank App, Packaged with Windows Application Packaging Project (WinUI 3 in Desktop) in VS2022 and deploy with msix (signed with our own certificate) failed with the following error:

App installation failed with error message: Deployment Add operation with target volume C: on Package 4eb10ded-58a9-4b9c-81c

[2021-11-22 12:02] Jaiganeshkumaran commented on #1823
I think using the winrt namespace is fine as long as the project only uses C++/WinRT and doesn't use C++/CX and/or WRL along with it.

[2021-11-22 13:33] tinmac commented on #974
Im having this issue with a W10 instance running on Hyper-V. All (correct) dependencies installed.

![image](https://user-images.githubusercontent.com/6616946/142870360-9c88521e-b55f-4c3e-9743-2dfc28a844c7.png)

Would be benefficial to be able to test apps on Hyper-V.

[2021-11-22 16:21] dajbych opened #1836 "Blank WinUI 3 app crashes during closing"
### Describe the bug

WinUI 3 desktop C# apps throw a Win32 exception while closing (which by default VS is set to ignore that specific exception type). The exception...

### Steps to reproduce the bug

1. Create a Blank App, Packaged C# (WinUI3 in Desktop).
2. In VS, go to Debug -> Windows -> Exception Settings and then fully check the **Win32 Exceptions** box.
3. Run the app and close it.

### E

[2021-11-22 17:58] benstevens48 opened #1838 "How to disable rounded window corners for a UWP app in Windows 11"
I have a UWP app which is a photo viewer, and I do not want rounded window corners because then the corner of the photo is clipped (depending on window aspect ratio and zoom level etc) and I want it to provide a pixel perfect view of the image (since the app may be used for serious purposes). Is there any way to disable the window corner rounding on Windows 11? If not, I strongly suggest there sho

[2021-11-22 18:07] riverar commented on #1838
@benstevens48 You can [call DwmSetWindowAttribute](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/apply-rounded-corners?WT.mc_id=WD-MVP-5002756#api-definition) with a `DWM_WINDOW_CORNER_PREFERENCE` of `DWMWCP_DONOTROUND`.

[2021-11-22 18:32] benstevens48 commented on #1838
@riverar - thanks, but yes, this is a pure UWP app.

Well I wanted to ask here because my suspicion is that it's not possible, in which case I want to suggest it somewhere where it could actually have a chance of being seen by the right people. So is it the policy that this repo no longer takes any questions or feedback on UWP? I was under the impression that WinUI is part of Windows App SDK, and

[2021-11-22 18:34] mqudsi commented on #1245
Thanks, Scott. I guess it does, although it would help if the word "foreground" appeared even once [on the page](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/applifecycle-rich-activation). There's also the new clsid-based background activation with a background activation clsid handler that I think is officially sanctioned, but that wouldn't use the existing startup c

[2021-11-22 18:50] riverar commented on #1838
@benstevens48 Fair. And I agree, filing an issue on [WinUI](https://github.com/microsoft/microsoft-ui-xaml/issues) makes sense. That might sit for a while though.

The workflow I'd go down:
1. Investigate getting an instance of ICoreWindowInterop for your CoreWindow and try calling DwmSetWindowAttribute. It might Just Work™️.
2. If that fails, consider adding a full-trust component to your UWP app

[2021-11-22 18:52] andrewleader commented on #1838
Hey @benstevens48, thanks for trying to understand where to submit feedback! I'll try to clarify some things 😊 (I'm one of the program managers at Microsoft that works on Windows App SDK).

WinUI **\*3\*** is part of the Windows App SDK, however WinUI 2 is not. WinUI 2 is the version of WinUI that supports UWP, WinUI 3 is the version of WinUI that supports desktop apps. Windows App SDK itself only

[2021-11-22 18:52] #1838 closed

[2021-11-22 18:53] andrewleader commented on #1836
Hi @dajbych, are you creating a C++ or C# app?

[2021-11-22 18:59] benstevens48 opened #1879 "Proposal: ability to disable rounded window corners for a UWP app in Windows 11"
# Proposal: ability to disable rounded window corners for a UWP app in Windows 11

## Summary
(If this is already possible, please let me know!) There should be an API to disable rounded window corners for a UWP app (using CoreWindow) in Windows 11.

## Rationale
I have a UWP app which is a photo viewer, and I do not want rounded window corners because then the corner of the photo is clipped (depe

[2021-11-22 19:35] andrewleader commented on #1832
Hey @JohnCido, are you compiling your app for x86? There's a known bug in 1.0.0 where `FindOrRegister` always just returns your current instance (exactly what you described) as seen in: https://github.com/microsoft/WindowsAppSDK/issues/1717

We're going to fix that in a 1.0.1 servicing release, but we don't have a plan for when that will be released yet.

First **uninstall and then reinstall your

[2021-11-22 19:35] #1832 closed

[2021-11-22 19:38] andrewleader commented on #1830
Hi @pavll, any chance you can share a repro project that demonstrates this build issue you're running into? I think we'll need more info than what you provided to help.

[2021-11-22 20:03] JohnCido commented on #1832
Oh my god, I finally located the cause of the issue. The actual building target for my x64 configs is actually set to x86 by mistake in the config manager. Now it finally works! I close the related discussion thread too.
Thanks for the help.

[2021-11-22 21:19] dajbych commented on #1836
Hello @andrewleader, C# app.

[2021-11-22 23:03] sallyc3 opened #1842 "Customized <myResource>.resw file name is not supported in Xaml(xUid)"
### Discussed in https://github.com/microsoft/WindowsAppSDK/discussions/1841

<div type='discussions-op-text'>

<sup>Originally posted by **sallyc3** November 22, 2021</sup>
String resource in Strings/Resource.resw works for .xaml : x:Uid="myString"

String resource in Strings/MyResource.resw does not work for .xaml : xUid="/MyResource/myString".  This customized MyResource.resw resource file name

[2021-11-22 23:14] stewienj commented on #1762
I think the problem here is the assumption that you can just xcopy your build output to another PC and run it when you put this in your project file:
[code]
I see a few potential fixes for people running into this problem:
- The app should detect the missing C++ runtime DLLs and throw up a message, or log a message stating the C++ runtime needs to be installed.
- There should be a nuget package av

[2021-11-22 23:21] sallyc3 commented on #1842
Strings/Resources.resw works, not Strings/Resource.resw.

[2021-11-22 23:55] MikeHillberg commented on #1762
Yes, <SelfContained> is WRT the .NET runtime, not the WindowsAppSDK runtime.

[2021-11-23 00:08] stewienj commented on #1825
The bootstrapper should also check for the C++ runtime DLLs being available. These missing DLLs were the cause of #1762 .

[2021-11-23 01:14] andrewleader commented on #1836
@MikeHillberg @DrusTheAxe @BenJKuhn do any of you have any ideas who might own investigating this? Could be coming from WinUI 3 or coming from other code in the WinAppSDK, but something seems to be causing an exception upon app shutdown.

[2021-11-23 18:03] #1811 closed

[2021-11-23 18:39] MikeHillberg commented on #1836
@jeffstall, this is happening in DesktopChildSiteBridge::Close.

[2021-11-23 19:28] ptorr-msft commented on #391
Is there a particular scenario you're interested in here? Most `KnownFolders` won't work with UWP apps, and if you're not writing a UWP app there's little reason to use `StorageFolder`.

[2021-11-23 22:31] rkarman commented on #1815
I've filed a bug in our internal issue tracking system and assigned it to the dev team to investigate. I wouldn't expect any traction on this until after Thanksgiving though. I'll follow-up on Monday to make sure it is triaged gets eyes on it.

[2021-11-24 01:27] sallyc3 commented on #1842
Please help.  We need localization solution using non Resources file name (Resources.resw)) resource files for WinUI 3.0.

<myResource>.resw does not work in cpp either with
Windows::ApplicationModel::Resources::ResourceLoader::GetForCurrentView();   => Resources.resw
nor with
Windows::ApplicationModel::Resources::ResourceLoader::GetForCurrentView(L"myWRC/MyResource");  => MyResource.resw

Does no

[2021-11-24 01:44] andrewleader commented on #1842
Hey @axelandrejs @huichen123, would either of you know whether XAML's x:Uid can work with Resource files that aren't explicitly named `Resources.resw`? It sounds like if you rename the file to `MyResources.resw` or anything else.

[2021-11-24 01:45] andrewleader commented on #1842
Also @sallyc3, to set expectations, it's Thanksgiving week here and a lot of folks are out of the office, so you might not get an answer till next week.

[2021-11-24 01:51] sallyc3 commented on #1842
I understand.  As long someone will get back to me with an answer next week - how to use <myResource>.resw in both xaml and cpp.  Thanks.

[2021-11-24 12:39] pavll commented on #1830
@andrewleader [Here is a link to a copy of the original repo with the same build error in VS 2022 and .NET 6 and WinUI 3 Release 1.0](https://github.com/pavll/IssueShare)

[2021-11-24 21:02] Daniellled commented on #1652
Does anyone know if and when this will be fixed? I see some code getting merged but I do not see any movement on this issue.

[2021-11-24 21:26] bryaan commented on #1762
I'm having this issue as well and don't know what the solution is.  I already have the Redistributable.

[2021-11-24 21:29] riverar commented on #1652
This is an upstream bug in `Microsoft.Windows.SDK.BuildTools`. Latest preview (10.0.22504-preview) and latest stable (10.0.22000.196) are both affected. (It's not clear if `dotnet build` is even supported with BuildTools in general.) Looping in @mikebattista.

[2021-11-24 21:44] SoundersFan opened #1844 "Exception on launch of new Blank App, Packaged with Packaging Project (WinUI 3 in Desktop)"
### Describe the bug

Follow the instructions at [Create a WinUI 3 app](https://docs.microsoft.com/en-us/windows/apps/winui/winui3/create-your-first-winui3-app?pivots=winui3-packaged-csharp) results in an app that crashes on launch.

### Steps to reproduce the bug

1. Create a new sln/csproj/wapproj following the instructions at [Create a WinUI 3 app](https://docs.microsoft.com/en-us/windows/apps/

[2021-11-24 23:22] SoundersFan commented on #1844
This does not seem to happen when I use VS 2022.

[2021-11-25 07:25] asklar commented on #1836
this is something I filed back in 2020; I think this one is a continuable/ignorable exception.
We should not throw in the first place, but this is benign.

[2021-11-25 13:36] mehmet-h opened #1846 "WinApp SDK Dev 17 Offline Install Failure"
### Describe the bug

I tried to install windows app sdk on a internal network computer. I think It fails because it tries to connect "go.microsoft.com"

![image](https://user-images.githubusercontent.com/30044724/143449854-ce8b0d39-f60e-4a13-8520-26a2f1cddda5.png)

### Steps to reproduce the bug

1. Install VisualStudio 17.0 enterprise release to internal network computer.
2. download WinApp sdk

[2021-11-25 21:54] DrusTheAxe commented on #1825
WinAppSDK 1.0 requires the CRT runtime. This is a documented prerequisite. @zaryaf got link?

WinAppSDK 1.1 is moving to the [Hybrid CRT](https://github.com/microsoft/WindowsAppSDK/blob/main/docs/Coding-Guidelines/HybridCRT.md) per https://task.ms/35544838. WinUI is the last remaining component to update. @Scottj1s has an update in progress for 1.1

[2021-11-25 21:56] DrusTheAxe commented on #1825
Or both :-)

It's in my queue. Happy holidays

[2021-11-25 23:35] reflectronic commented on #41
So, some magic documentation just showed up for `DWMWA_USE_IMMERSIVE_DARK_MODE`, thanks to some person: https://github.com/MicrosoftDocs/sdk-api/blob/docs/sdk-api-src/content/dwmapi/ne-dwmapi-dwmwindowattribute.md#-field-dwmwa_use_immersive_dark_mode

Unfortunately, it seems wrong:
- it mentions a constant `DWMWA_USE_IMMERSIVE_DARK_MODE_BEFORE_20H1` that doesn't exist in the Windows SDK, someone j

[2021-11-26 07:35] riverar commented on #41
@duncanmacmichael

[2021-11-26 08:30] lhak opened #1848 "App packaged with wap project builds for the wrong architecture"
### Describe the bug

A C# app (project type "Packaged with WAP (WinUI3 in Desktop)")) which is build on a x64 machine does not build arm64 binaries even if the arm64 architecture is selected in the dropdown menu.

### Steps to reproduce the bug

1. Create a new blank c# app packaged with a WAP project
2. Select arm64 as the target architecture
3. Build the project itself or the WAP package
4. The

[2021-11-26 21:56] pjmlp commented on #1822
I have the feeling they would expect us to write C++ and use nano-COM instead, given the feedback that DirectX team doesn't care about us.

https://github.com/microsoft/WindowsAppSDK/issues/14

[2021-11-27 07:38] blake-fm commented on #1815
Adding supportedOS to appmanifest resolved this for me.
[code]
https://docs.microsoft.com/en-us/windows/win32/sysinfo/targeting-your-application-at-windows-8-1

[2021-11-27 11:53] christiannagel opened #1849 "Installing stable Windows App SDK extension for Visual Studio 2022 fails with multiple Visual Studio versions installed"
### Describe the bug

The installation of the stable version of the Windows App SDK extension for Visual Studio 2022 fails with this error:
Modifications failed

Modifications of multiple extensions can only be applied to one product at a time

From the installation log file:
11/27/2021 12:40:21 PM - Searching for applicable products...
11/27/2021 12:40:21 PM - Found installed product - Global Loc

[2021-11-27 16:37] KusiTec opened #1850 "UserControl, exception xaml parsing failed occured"
### Describe the bug

During InitializeComponent() occurs the exception xaml parsing failed, without more excactly informations.

I was reading about an issue, with the same problem, but not in the context with Vsix app and user control is not implemented in a library.

### Steps to reproduce the bug

1. Add new item --> User Control
2. Instantiate this user control in a xaml
3. Run
4. Exception o

[2021-11-27 22:20] MarkBrainfire commented on #1846
I get the same error!  How is it possible that a major release of VS 2022 is delivered without project templates for WinUI 3?
This is supposed to be THE development direction for MS.

[2021-11-28 04:50] Samuel12321 commented on #1669
https://github.com/microsoft/microsoft-ui-xaml/issues/6331

[2021-11-28 12:39] SetTrend commented on #138
Just like to bring this thread back to attention.

[2021-11-29 07:18] pubtom commented on #105
If you need .NET>5 in UWP please give a vote on this: https://developercommunity.visualstudio.com/t/Add-NET-678-support-to-UWP/1596483

[2021-11-29 08:55] Jaiganeshkumaran commented on #105
Even WPF and WinForms, which are much older than UWP, get .NET 6 but UWP doesn't. This isn't fair.

[2021-11-29 08:59] riverar commented on #105
@Jaiganeshkumaran Life isn't fair. Move on.

[2021-11-29 13:39] TheJoeFin opened #1852 "Inconsistent behavior of the AppointmentStore API"
### Describe the bug

I use the `AppointmentStore` in my app Ink Calendar to display and edit users' appointments. However in the past year the API has become unstable and unreliable. I have experienced the issue personally and have had users email me upset this feature stopped working.

There are a few failures of the API but the one most important to me is when the `AppointmentStore.ShowEditNewA

[2021-11-29 15:37] robloo commented on #105
Certainly true. Kind of insensitive though to put it mildly. Basically saying stop your childish wining.

Microsoft's long history of dropping support for what they once pushed onto developers as the future and reinventing things every few years when management changes is hard to stomach though. Poor management direction is a key takeaway here.

Microsoft is actively working against devs in this c

[2021-11-29 17:14] aepot opened #1853 "Content doesn't fill the entire screen when using FullScreenPresenter at a first time after app start"
### Describe the bug

When I execute at a first time
[code]
There's two white thick borders on the Window at the bottom and the right sides. Bottom one looks like a Taskbar-size and the right one looks like a scrollbar-size.

When I restore Presenter to `Default` and then go Full Screen again, everything seems to be fine.

### Steps to reproduce the bug

1. Create **Blank App, packaged (WinUI 3 De

[2021-11-29 17:27] jimm98y opened #1854 "Unable to register for UWP Store push notifications anymore"
### Describe the bug

Currently, it seems it is no longer possible to get the old UWP Store push notifications working. The original flow as far as I remember was:
1) Register app in the Store, note the SID
2) Register the app in Live Services and get the secret
3) Execute the registration flow, then use the SID and secret to send the push notification from the backend (or Notification Hub)

Curre

[2021-11-29 17:57] riverar commented on #1854
Hi @jimm98y.

Sorry to redirect you, but this is not the right place for UWP discussions.

Here's some alternate resources:
* [Microsoft Q&A windows-uwp tag](https://docs.microsoft.com/en-us/answers/topics/46321/windows-uwp.html): Has a dedicated support staff that helps answer questions there.
* [Stackoverflow](https://stackoverflow.com/questions/tagged/uwp)
* [UWP Community Discord](https://disc

[2021-11-29 18:02] aeloros commented on #1245
Mentioning @andreww-msft about your great feedback in the documentation.

I can, but I don't think it is as simple as that.  I'll explain.

No new IBackgroundTask activations were added as part of the 1.0 release to the best of my knowledge.

I believe (and you can find this in the code) push notifications are in the works, and those are a type of background activation.  It has not shipped yet, as

[2021-11-29 18:10] rkarman commented on #1853
We've filed a bug internally to track this and it's been assigned to the dev team for investigation.

[2021-11-29 18:48] mikebattista commented on #1652
@sotteson1 could you take a look?

The BuildTools package is not working with `dotnet build`, affecting projects that use the App SDK.

[2021-11-29 19:01] Daniellled commented on #1652
Does this mean the only way to build a WinUI3 application is via Visual Studio. All command line options are out?

[2021-11-29 19:01] andrewleader commented on #1652
I don't believe we support `dotnet build`, we only support `msbuild` at this time. @evelynwu-msft or @sotteson1 or @DefaultRyan  would any of you be the one to confirm?

[2021-11-29 19:03] andrewleader commented on #1652
And @Daniellled you can use `msbuild` from command line. Here's an example of a CI script using msbuild to build and generate MSIX packages from a single-project WinUI 3 app: https://github.com/andrewleader/WindowsAppSDKGallery/blob/main/.github/workflows/dotnet-desktop.yml#L102

[2021-11-29 19:07] Daniellled commented on #1652
Good to know. In your CI pipeline are you using physical machines with a full install of Visual Studio or are you using docker images? If docker do you know if you have any documentation on what components a docker image needs to compile WinUI3?

[2021-11-29 19:08] evelynwu-msft commented on #1652
Windows App SDK, independent of the Windows SDK Build Tools Nuget package, does not support `dotnet build` at this time.

[2021-11-29 19:13] andrewleader commented on #1652
@Daniellled I'm using GitHub Workflows hosted agents, which has basically all of the VS components installed: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#workloads-components-and-extensions

I'm not sure what the minimal set of components that would be required. At a high level, the workloads that would be required (from the Installer) would be the .N

[2021-11-29 19:21] mikebattista commented on #1652
I'd still like to investigate the BuildTools package issue. Assigned to @sotteson1 for that.

[2021-11-29 19:31] andrewleader commented on #1652
Since `msbuild` is supported for command-line, and supporting `dotnet build` with the Windows App SDK is a net-new feature, I'm going to close this issue.

If you need/want `dotnet build` to be supported, please [vote on that feature here](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/57-support-dotnet-build?utm_medium=social&utm_source=portal_share) and tell us why you need it ove

[2021-11-29 19:31] #1652 closed

[2021-11-29 19:33] mikebattista commented on #1652
Internal bug on BuildTools is http://task.ms/37199033.

[2021-11-29 19:47] andrewleader commented on #138
Hi @SetTrend, thanks for bringing this back up. This isn't part of our 1.1 plans and we're now tracking feature requests on our productboard portal, [here's the feature request for badge APIs](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/58-badge-notification-apis?utm_medium=social&utm_source=portal_share), please vote on it so we can easily inform you of updates via email!

Since

[2021-11-29 19:47] #138 closed

[2021-11-29 19:55] MaddalaN opened #1855 "WinUI build fails when *.xaml files are included in the project"
### Describe the bug

WinUI3 project fails to build on jenkins when xaml files are included.

### Steps to reproduce the bug

I have a simple WinUI3 project,
Here is the project structure:
<Project Sdk="Microsoft.NET.Sdk">
	<PropertyGroup>
		<TargetFramework>net6.0-windows10.0.19041.0</TargetFramework>
		<TargetPlatformMinVersion>10.0.17763.0</TargetPlatformMinVersion>
		<RootNamespace>Controls</R

[2021-11-29 20:20] BenJKuhn commented on #1846
The extension relies on another extension, Single Project Packaging tools. You may need to install this first if offline.

https://marketplace.visualstudio.com/items?itemName=ProjectReunion.MicrosoftSingleProjectMSIXPackagingToolsDev17

If that doesn't resolve the issue, @DefaultRyan should be able to investigate further.

Ben

[2021-11-29 20:32] btueffers commented on #1854
Thanks @riverar those are great suggestions!

[2021-11-29 20:32] #1854 closed

[2021-11-29 21:16] huichen123 commented on #1842
@evelynwu-msft It seems WinUI treats x:Uid as a submap under Resources. Is that expected?

[2021-11-29 21:58] BluVeneziano opened #1856 "Build error APPX1101 (.NET 6 WinUI 3 and Microsoft.EntityFramework.Tools)"
### Describe the bug

When building my app, I get this error:

APPX1101
Payload contains two or more files with the same destination path 'App4.deps.json'. Source files:
C:\Users\bluve\source\repos\App4\App4\obj\x86\Debug\net6.0-windows10.0.19041.0\win10-x86\App4.deps.json
C:\Users\bluve\source\repos\App4\App4\bin\x86\Debug\net6.0-windows10.0.19041.0\win10-x86\App4.deps.json	App4	C:\Users\bluve\.n

[2021-11-29 22:20] andrewleader commented on #1856
Thanks @BluVeneziano, we're working with the EntityFrameworkCore team to investigate this, we'll update you when we have figured out more!

[2021-11-29 22:26] michael-hawker commented on #138
@andrewleader left this feedback on [Twitter here](https://twitter.com/XAMLLlama/status/1460379427838119936) for @aclinick. I think it's important to have an issue open and linked to each product board item to facilitate community discussions and clarification on scope of features for specs and things like this issue does.

Closing it before the feature is done doesn't seem helpful and confusing.

[2021-11-29 22:32] evelynwu-msft commented on #1842
Yes, we have always expected string resources used for x:Uid to be under the `Resources/` submap.

[2021-11-29 22:49] andrewleader commented on #138
For this feature, we're not at the stage where we're scoping the feature specs yet - we don't know what specifically we'll build, or if there's enough interest to build this yet. When we get closer to specing out the feature we'll re-create a GitHub spec with more details.

By having people vote and explain what they need will allow us to look through what everyone's requirements are when we do ge

[2021-11-29 22:58] michael-hawker commented on #138
@andrewleader I guess I see the comments on the issue as the feedback when voting you mention in the product board. I guess the issue I see with the product board is that as a community member I don't see those comments and input other are providing you into what they see in that feature. Also, if there's just a one sentence descriptor of that feature, there's no way for me to ask questions about

[2021-11-29 23:14] andrewleader commented on #138
The prompt on the portal asks users to explain "Why do you need this?", if they're unclear about what's in scope of the feature, they can explain "I need to do X, Y, and Z", and when we're building the feature we're able to evaluate everything that everyone needs. When our portal descriptions are vague and open ended, we try to include a call to action specifying "Tell us exactly what you need" to

[2021-11-29 23:22] jeffstall commented on #114
Currently, it is recommended to use the various I*Interop APIs using HWNDs. See
[IPrintManagerInterop](https://docs.microsoft.com/en-us/windows/win32/api/printmanagerinterop/nn-printmanagerinterop-iprintmanagerinterop) for an example. We are tracking this feature request to make improvements in the future.

[2021-11-29 23:22] #114 closed

[2021-11-30 01:02] duncanmacmichael commented on #1822
Hi @Jaiganeshkumaran, thanks for opening this issue! We're curious to hear what your interest is for a full WinRT exposure of DWriteCore, as this might be something we can investigate for a future feature request. What sort of use cases and scenarios do you have in mind?

Thanks!

[2021-11-30 01:52] pubtom commented on #17
If you need .NET>5 in UWP please give a vote on this: https://developercommunity.visualstudio.com/t/Add-NET-678-support-to-UWP/1596483

[2021-11-30 01:54] pubtom commented on #86
If you need .NET>5 in UWP please give a vote on this: https://developercommunity.visualstudio.com/t/Add-NET-678-support-to-UWP/1596483

[2021-11-30 02:24] huichen123 commented on #1842
@evelynwu-msft is this unique to WinUI3? @sallyc3 mentioned it works in UWP.

[2021-11-30 05:54] sallyc3 commented on #1842
I followed the instruction in the following link and it worked for UWP.
https://docs.microsoft.com/en-us/windows/uwp/app-resources/localize-strings-ui-manifest#factoring-strings-into-multiple-resources-files

       Thanks.
-Sally

From: Hui Chen ***@***.***>
Sent: Monday, November 29, 2021 6:25 PM
To: microsoft/WindowsAppSDK ***@***.***>
Cc: CHU Sally ***@***.***>; Mention ***@***.***>
Subject: R

[2021-11-30 06:06] mehmet-h commented on #1846
Hello @BenJKuhn,
I tried to install your PackagingTools link but It didn't solve the issue.

Here is the logs for trying to install AppSDK after PackagingTools is installed.

`30.11.2021 09:00:25 - Microsoft VSIX Installer
30.11.2021 09:00:25 - -------------------------------------------
30.11.2021 09:00:25 - vsixinstaller.exe version:
30.11.2021 09:00:25 - 17.0.5226-preview5
30.11.2021 09:00:25 -

[2021-11-30 13:41] Jaiganeshkumaran commented on #1822
To access DWriteCore easily from languages other than C++ such as C# in a natural familiar way (unlike using interop assemblies such as the Win32 Metadata project).

[2021-11-30 15:03] SetTrend commented on #138
From my own experience I can confirm this is an issue indeed.

[2021-11-30 15:56] VigneshRameshh opened #1859 "[WinUI] Border not rendering properly if we set corner radius for particular edges"
### Describe the bug

Border not rendering properly if we set corner radius for particular edges

### Steps to reproduce the bug

1. Run the attached sample [WindowAppSDKUpgrade.zip](https://github.com/microsoft/WindowsAppSDK/files/7627034/WindowAppSDKUpgrade.zip)
2. Check the bord

### Expected behavior

The border should render properly, even if we set a corner radius for particular edges.

###

[2021-11-30 17:10] andrewleader commented on #1859
Transferring to WinUI repository as this is a XAML bug.

[2021-11-30 19:47] hulumane commented on #1526
@nicuparente We have proxy support in our backlog correct?

[2021-11-30 19:51] riverar commented on #1846
Please use the correct formatting to increase readability. https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

[2021-11-30 20:12] hulumane commented on #1526
+ @andrewleader Can we add this to Product Board for tracking purposes? Or is there some other avenue?

[2021-11-30 20:23] michael-hawker commented on #138
Thanks for the explanation @andrewleader, it's great to see your team getting more engagement and feedback there.

I think my main concern is the lack of transparency and connection to the community as none of the comments or new suggestions are exposed for others to chime-in on or be aware of.

Also, if you have developers already here on GitHub which are engaged; how do they know finding this cl

[2021-11-30 20:25] evelynwu-msft commented on #1842
@huichen123 The way WinUI calls into MRT Core to resolve the x:Uid is a little different from how UWP XAML calls into system MRT; assuming that the PRI is still being constructed in the same fashion, then that means a subtle bug was introduced during the port.

[2021-11-30 20:25] andrewleader commented on #1526
@hulumane yeah we can add it! I'll work with you and Nicu offline on what you want to put up there!

[2021-11-30 20:26] ChrisGuzak commented on #1823
This is the recommended best practice that we want templates to follow.

[2021-11-30 20:42] DefaultRyan commented on #1846
Confirming that the Single Project MSIX Packaging Tools are included in this extension via a [Visual Studio Extension Pack](https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthough-create-extension-pack?view=vs-2022). To the best of my knowledge, VS Extension Packs install by downloading from the VS extension marketplace, so they wouldn't work on an offline computer.

I've come up wi

[2021-11-30 20:46] sallyc3 commented on #1842
Please also address the CPP implementation issue.  It does not work from the following sample code from the same link<https://docs.microsoft.com/en-us/windows/uwp/app-resources/localize-strings-ui-manifest#factoring-strings-into-multiple-resources-files> example.

// resource file is at Strings\en-US\ErrorMessages.resw
auto resourceLoader{ Windows::ApplicationModel::Resources::ResourceLoader::GetF

[2021-11-30 21:18] hulumane commented on #1526
It is interesting to note here that the feature isn't specific to the app specific channel registration per se. We just need to support WNS connections for all apps over a proxy in corp environments. Today the proxies don't understand custom protocol and block our traffic without an endpoint exemption. So general guidance has been to add an exemption to the proxy environment for WNS endpoints to a

[2021-11-30 21:29] nicuparente commented on #1526
Correct - the current guidance is to allow list the traffic. Here is the [documentation](https://docs.microsoft.com/en-us/windows/apps/design/shell/tiles-and-notifications/firewall-allowlist-config) and I believe @ice02 came across this doc then followed our guidance there to file this as feedback in the Windows App SDK repo.

[2021-12-01 00:28] huichen123 commented on #1842
The PRI construction didn't change. I am assigning this to @evelynwu-msft

@sallyc3 as for your other issue in your last reply, does it work for resources in resources.resw? Since you are using system MRT, what is your OS version?

[2021-12-01 00:51] sallyc3 commented on #1842
1.  as for your other issue in your last reply, does it work for resources in resources.resw?

**No, for CPP, it does not work even trying to use the Resource.resw.  Code sample :

    auto resourceLoader = Windows::ApplicationModel::Resources::ResourceLoader::GetForCurrentView() ;

item.Name(resourceLoader.GetString(L”myString”));

   Nothing happened.  The string for Name property is not display

[2021-12-01 01:52] duncanmacmichael commented on #41
Thanks, @riverar. Looking into who the best contact is to update this documentation from our side.

[2021-12-01 02:36] huichen123 commented on #1842
you may run on non-UI thread? Try GetForViewIndependentUse instead.

[2021-12-01 02:41] sallyc3 commented on #1842
Ok.  Will give that a try.
      Thanks.
-Sally

[2021-12-01 03:21] DefaultRyan commented on #1817
I'm almost positive this is an internet connectivity issue, and is a duplicate of #1846. Please try the workaround I posted to that issue and reopen if it doesn't work.

[2021-12-01 03:21] #1817 closed

[2021-12-01 03:34] asklar commented on #41
@duncanmacmichael connect with @stevewri and @leonardoblanco-ms

[2021-12-01 03:43] DefaultRyan commented on #1846
Also, I view this as a Visual Studio bug, and I've created https://developercommunity.visualstudio.com/t/VSIX-installer-should-not-force-download/1599948?entry=myfeedback to track this.

[2021-12-01 04:58] riverar opened #1861 "Stray IntelliSense metadata bundled with WindowsAppSDK-1.0.0"
Microsoft.Windows.System.xml
https://github.com/microsoft/WindowsAppSDK/blob/99ac9397a535b72bcc763869bf11e7cf4e103390/build/AzurePipelinesTemplates/WindowsAppSDK-CreateNugetPackage-Job.yml#L78

Microsoft.Windows.PushNotifications.xml
https://github.com/microsoft/WindowsAppSDK/blob/99ac9397a535b72bcc763869bf11e7cf4e103390/build/AzurePipelinesTemplates/WindowsAppSDK-CreateNugetPackage-Job.yml#L80

[2021-12-01 08:46] nxtn-staged opened #1862 "Packaged WinUI app can not be installed on ARM64"
### Describe the bug

WinUI 2 in UWP or WinUI 3 in desktop app packages created for ARM64 contain dependencies for ARM that can't be installed.

### Steps to reproduce the bug

1. Create a **Blank App, Packaged with Windows Application Packaging Project (WinUI 3 in Desktop)** project.
2. **Project** > **Publish** > **Create App Packages...**
3. Select **Sideloading**.
4. Select **ARM64**.
5. Insta

[2021-12-01 10:16] brabebhin commented on #1150
Winl2D should first be ported to desktop, and then any refactoring can be done upon it. Having it available in desktop would allow me to create a copy of MediaPlayerElement for windows app sdk, which seems to not be a priority for Microsoft. Without win2D it would be much harder to do it.

Thanks.

[2021-12-01 11:28] pubtom commented on #105
It is incredibly how Microsoft nowadays treat developers. Like this statement. ahhh...
If Microsoft continue this kind of style than I think Windows will be 1% market share in the future because everybody "Move on" to something else.

[2021-12-01 12:05] jtorjo commented on #105
The Microsoft's management can be summed up by "Indecision is the key to flexibility".

I wish I could laugh at this, but the opposite is true. There's just so many things that are wrong here, that, to quote myself, I could write a book.

I used to more than love Windows programming -- back when I was working on WinForms/WPF projects. Everything was just working. Now, there are countless bugs beca

[2021-12-01 12:12] HppZ commented on #105
TRUE.

[2021-12-01 13:39] mehmet-h commented on #1846
Hi @DefaultRyan,
I tried to install with vsixinstaller /noextensionpack method. Installation successfully ended, I see the project templates in visual studio but When I create a blank WinUI 3 Desktop project I get build error "...assets.json not found. Run a NuGet package restore to generate this file."

To solve this problem I tried to:
 * Tools/options / NuGet Package Manager/Package Resources u

[2021-12-01 15:30] DmitryBorodiy opened #1863 "WinUI needs revision!"
1. I have a bad development experience with WinUI 3.

Microsoft needs to revisit WinUI applications.
WinUI 3 apps do not work across the entire Windows ecosystem. Does Panos Panay even know about your WinUI traffic? This something that works on the old WPF platform looks out of date. My favorite Windows and Surface device is the Surface Hub 2S, and you haven't bothered to add support for your ecos

[2021-12-01 15:56] andrewleader commented on #1846
@mehmet-h you'll need to be online at least once to restore the NuGet packages. For C# projects, Visual Studio restores the NuGet packages from online, they aren't carried in the VSIX. Once you restore the NuGet packages online, you should be able to continue working offline since they will have been downloaded to your offline cache, and you should be able to create new WinUI 3 projects offline to

[2021-12-01 16:23] andrewleader commented on #1861
I think this is sort of related to #1775 however it sounds slightly different (this seems like some other Experimental files that we need to not include on Stable right now).

@riverar I'm only seeing these XML IntelliSense files under the `uap` folders, do these files have any impact (like maybe on Rust bindings), or this is just a "clean up and don't include things that aren't used" sort of feed

[2021-12-01 16:29] andrewleader commented on #1863
Hi @DmitryBorodiy, thanks for the feedback. Feature requests (like Surface Hub support) should be submitted through our productboard portal: https://aka.ms/winappsdkportal

I've already linked up your feedback for Surface Hub support though, so you don't need to do anything, your request is captured and tracked! But in the future, please submit feature requests through our portal!

General Windows

[2021-12-01 16:29] #1863 closed

[2021-12-01 16:43] duncanmacmichael commented on #41
Thanks @asklar, I was thinking more for the PM side where I wasn't sure who would be tackling this. :)

[2021-12-01 17:55] riverar commented on #1861
No impact just something I noticed when working with the metadata. Thanks!

[2021-12-01 18:18] DefaultRyan commented on #1846
I believe you can also manually download the needed nupkgs to a folder, and add that folder as a source in VS's NuGet package manager settings. And to be clear, that's not a Windows App SDK issue - this is what you'd have to do with any project to get NuGet restore to work while offline.

[2021-12-01 18:28] DefaultRyan commented on #1849
I believe the root issue here is that our VSIX includes the [Single-Project MSIX Packaging Tools](https://marketplace.visualstudio.com/items?itemName=ProjectReunion.MicrosoftSingleProjectMSIXPackagingToolsDev17) extension via a [Visual Studio Extension Pack](https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthough-create-extension-pack?view=vs-2022). This is why the error message say

[2021-12-01 19:09] Scottj1s commented on #1862
This issue is not unique to the Windows App SDK, but is a problem with the Add-AppDevPackage.ps1 generated by the app packaging logic.  This script is invoked by install.ps1, and explicitly attempts to install arm dependencies on an arm64 device:
line 467:
`        if (($ProcessorArchitecture -eq "arm" -or $ProcessorArchitecture -eq "arm64") -and (Test-Path (Join-Path $DependencyPackagesDir "arm")

[2021-12-01 19:09] #1862 closed

[2021-12-01 19:27] yoshiask commented on #1335
I don't get a `TypeLoadException`, but I do get the `COMException` that this issue was opened for.

[2021-12-01 20:48] sallyc3 commented on #1842
GetForViewIndependentUse() does not work.
It fixed the treading issue.  But still not getting the string from Resources.resw.
Code sample :

auto resourceLoader = Windows::ApplicationModel::Resources::ResourceLoader::GetForViewIndependentUse();
item.Name(resourceLoader.GetString(L"LoadingStr"));
// item.Name == L""

-Sally

[2021-12-01 21:13] huichen123 commented on #1842
can you dump resources.pri with makepri.exe to see if there is a Resources\MyString entry?

[2021-12-01 22:16] sallyc3 commented on #1842
Note, the resources are from the .dlls.  So the pri files is not resources.pri.
The problem could be that CPP is only looking into resources.pri? not <dll file>.pri?

I also tried to change the Region to Australia, the localization does not work for both Xaml and CPP. It does not take the strings from the Strings\en-au\Resources.resw file.
Localization works with UWP, for both Xaml and CPP.

Pri f

[2021-12-02 00:39] stephen147 commented on #46
Do you still have the project file for this or on Github so I can see how this works? The Github example from MS only comes in UWP which can be found here. https://github.com/microsoft/AppModelSamples/tree/master/Samples/TestRestart/TestRestart

[2021-12-02 00:47] sallyc3 commented on #1842
It works with "AccessServerWRC/Resources", not "\".  So this is good.
I can also get different .resw file name working with "AccessServerWRC/myResources".
But it does not work for localization with different country region setting.  Please help in addressing the localization issue.  When changed Region to Austrilia, it does not use Strings\en-au\Resources.resw for example.  This works in UWP.

I f

[2021-12-02 01:04] huichen123 commented on #1842
is your app packaged or unpackaged?

[2021-12-02 02:50] sallyc3 commented on #1842
Not sure.  I think is unpackaged.  Could not get packaged working.

Has both /App/App and /App_WAP/App (Package) directories.

Source code are in /App/App

/App_WAP/App (Package)/bin/x64/Debug/resources.pri

-Sally

[2021-12-02 04:52] riverar commented on #1842
I think to better help you @sallyc3 we need a minimal reproducible example. Create a sample project with same resources, put it on GitHub or zip it up and provide a link. This back and forth with tidbits of information is not really productive. All those fields you skipped in the bug report form are really required.

[2021-12-02 05:10] sallyc3 commented on #1842
Actually Hui helped me to solve the xaml and cpp issues of using myResoueces.resw. So it’s productive. I got what I need.

As for the new issue I found out about the localization, Hui asked if I’m using packaged app or not as her last question. I answered. I’d like to wait till she gets back to me on the suggestion 1st.

       Thanks.

-Sally

[2021-12-02 05:26] BenJKuhn commented on #1861
@riverar Thanks for catching this. Right now we don't have infrastructure in place to reprocess experimental APIs out of the IntelliSense data. This seems like a good one to put on @DefaultRyan's backlog.

[2021-12-02 06:31] asklar commented on #41
I believe @Stevewri is the right PM for this (or he can say "not it" :) )

[2021-12-02 06:33] riverar commented on #1842
@sallyc3 Yes, and your answer was "I think is unpackaged" which is frustratingly unhelpful. This thread is frankly full of back and forth that could have been avoided had you simply completed the issue template and provided a repro case. Perhaps it's too late now, but in future issues, please consider completing the template and providing a repro as expected in most open source communities.

[2021-12-02 17:42] sallyc3 commented on #1842
Sure. I understand.

-Sally

[2021-12-02 17:55] huichen123 commented on #1842
You are using system MRT. For unpackaged app, it respects Windows display language instead of user preferred languages. To let user preferred languages take effect, you may have to switch to MRTCore (https://docs.microsoft.com/en-us/windows/windows-app-sdk/api/winrt/microsoft.windows.applicationmodel.resources?view=windows-app-sdk-1.0)

[2021-12-02 19:30] sallyc3 commented on #1842
We will try to make the app as packaged again now that Windows AppSDK 1.0 is released.  Hope things are working better.  We had issues with packaged app before.

Will let you know of the result.

       Thanks.
-Sally

[2021-12-02 20:51] ppoirier1 opened #1867 "Rich activation - windows.printSupportJobUI, windows.printSupportSettingsUI doesn't work"
### Describe the bug

If you try to deploy a blank packaged app with extension
<uap12:Extension Category="windows.printSupportSettingsUI"/>
It fails with DEP0700: Registration of the app failed. [0x80073CF6] AppxManifest.xml(37,10): error 0x80070032: Cannot register the xxxxx package because the following error was encountered while registering the windows.printSupportSettingsUI extension: The req

[2021-12-02 21:41] andrewleader commented on #1335
@angelazhangmsft that workaround works but doesn't easily expose the ShowShareUIForWindow method, I've integrated that updated workaround into the previous Helper class that I found above and now this seems to work end-to-end!

@yoshiask try the code below!

**Copy/paste this Helper class to your project**

[code]

**Then, in your code...**

[code]

Here's a full end-to-end example: https://github

[2021-12-03 01:21] sallyc3 commented on #1842
Hi Hui,

Thank you so much for all your support.  Everything is working with the resource string table and localization.  Our app package works with localization now.  I probably set the incorrect resource loader name yesterday.

To summarize what I need to do for the WindowsAppSDK in using our own MyRes.resw file name of the dll's.  This is different from how we did for UWP.
For Xaml
x:Uid="/MyWR

[2021-12-03 01:27] sallyc3 commented on #1842
Also many thanks to EvelynWu of her prompt technical support!
-Sally

[2021-12-03 02:08] huichen123 commented on #1842
I am glad you have your problem resolved. I am reopening this issue and assign to @evelynwu-msft as there is still an issue in WinUI3 how x:Uid is handled.

[2021-12-03 03:06] sallyc3 commented on #1842
Ok. Thanks.

-Sally

[2021-12-03 14:19] benstevens48 commented on #1838
@riverar - thanks for the suggestions. I started looking at 1, but ICoreWindowInterop is in the Desktop partition. I don't really want to try and hack access to this. I also don't want to add a full-trust component because it adds quite a bit of extra complication and makes my years of trying to conform to the AppContainer model seem kind of pointless (although I guess I will ditch it anyway when

[2021-12-03 21:30] andrewleader opened #1869 "Unpackaged AppWindow.GetFromWindowId throws TargetInvocationException on Win11 GA (but not on Win11 Insider)"
### Describe the bug

I'm trying to use AppWindow from an unpackaged WinUI 3 app, and on Win11 GA builds, it throws an exception when trying to get the AppWindow. But On Win11 Insider builds (or if it's a packaged app), the same code works fine.

[code]

| | Win11 GA | Win11 Insider |
|--|--|--|
| Packaged app | ✅ Works | ✅ Works |
| Unpackaged app | ❌ Throws exception | ✅ Works |

![image](https:

[2021-12-03 21:33] andrewleader commented on #1869
Looks like this is actually a dupe of #1815, closing as a dupe of that

[2021-12-03 21:33] #1869 closed

[2021-12-03 23:10] andrewleader opened #1871 "Cannot install unpackaged app after a packaged app has been installed"
### Describe the bug

The WinAppRuntime Installer fails to install if a packaged app using WinAppSDK has already been installed. It seems as if fails while trying to update the existing packages and therefore fails to install the remaining packages that are needed for an unpacakged app.

### Steps to reproduce the bug

First, **uninstall all versions of WinAppRuntime** by using an admin PowerShell

[2021-12-04 06:14] riverar opened #1872 "ResourceLoader doesn't load resources.resjson, resources.resw, per docs"
## Summary
The documentation for [ResourceLoader .ctor](https://docs.microsoft.com/en-us/windows/windows-app-sdk/api/winrt/microsoft.windows.applicationmodel.resources.resourceloader.-ctor?view=windows-app-sdk-1.0&WT.mc_id=WD-MVP-5002756#Microsoft_Windows_ApplicationModel_Resources_ResourceLoader__ctor) states, under Remarks:

This is not accurate.

## Actual
Constructing a new `ResourceLoader` fa

[2021-12-04 10:45] aepot commented on #1815
@blake-fm Workaround helped, thanks.

I also figured out that later removing these lines from the manifest makes no effect. The app continue working fine (Unpackaged, x64).
Looks like a kind of unpredictable behavior.

Then I don't think that simple editing the manifest looks like a proper solution.

[2021-12-04 11:05] blake-fm commented on #1815
@aepot Do you get the same results on a rebuild / clean+build?  With app.manifest not being monitored by the FastUpToDate system, it might have just assumed it already had the most recent app.manifest settings?

Completely agree though - definitely not a solution, just a workaround~

[2021-12-04 11:08] aepot commented on #1815
@blake-fm sorry, really Rebuild did the job. Deleted the post not to mislead others. Didn't know that you already read it. :)

[2021-12-05 15:35] lhak commented on #1815
I can confirm that the workaround posted by @blake-fm works.

[2021-12-06 03:11] lmadhavan opened #1874 "StorageFile.GetThumbnailAsync does not generate thumbnails for OneDrive files"
### Describe the bug

[StorageFile.GetThumbnailAsync](https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagefile.getthumbnailasync) generally triggers generation of a thumbnail if one doesn't already exist for the specified file. This works for local files, however for files that are stored on OneDrive, it simply returns a placeholder image unless a thumbnail was already generated previo

[2021-12-06 03:36] riverar commented on #1874
Hi @lmadhavan 👋

Sorry to redirect you, but this is not the right place for UWP discussions. This repository is focused on the Windows App SDK.

Here's some alternate resources:
* [Microsoft Q&A windows-uwp tag](https://docs.microsoft.com/en-us/answers/topics/46321/windows-uwp.html): Has a dedicated support staff that helps answer questions there.
* [UWP Community Discord](https://discord.com/invi

[2021-12-06 04:57] lmadhavan commented on #1874
It's not clear that this issue is specific to UWP, `GetThumbnailAsync` is likely just calling into the shell thumbnail handler so this might be a deeper platform issue (as evident from the inconsistencies even in File Explorer). Perhaps this isn't the right repository for that either but I do see a bunch of other file access issues/proposals here.

There is already a [similar question](https://sta

[2021-12-06 06:18] riverar commented on #1139
@HppZ I've verified `AppCapability.Create("wifiData").CheckAccess()` works, but only on machines with active China policies and with cellular capabilities.

[2021-12-06 15:55] dxrkhcghgh67 commented on #1874
Sorry to re redirect you, but this is not the right place for UWP Redirection templates. This repository is indeed focused on the Windows App SDK.

Windows App SDK is not something that rests on thin air. It rests on **WinAPIs** **_targeted at Windows Devs_**. You and I know what UWP is and isn't. Since you still felt the need to mention the cursed word, I'm going to proceed anyway. UWP = `CoreWin

[2021-12-06 17:10] andrewleader commented on #1687
Re-opening this, as it's something we should implement at least someday so that unpackaged apps can use XAML `x:Uid` localization and control the language the app uses.

Tagging it as a bug too, this definitely is somewhere between bug and "feature", but since the overall scenario of localizing your unpackaged app with control over the language doesn't work, I'll add the bug tag.

[2021-12-06 20:32] btueffers opened #1877 "CS5001: Program does not contain a static 'Main' method suitable for an entry point"
### Discussed in https://github.com/microsoft/WindowsAppSDK/discussions/1873

<div type='discussions-op-text'>

<sup>Originally posted by **iomismo** December  4, 2021</sup>
Hi everyone!
Weird error: any Windows App SDK project that is created from VS 2022 / 2019 Templates throws CS5001 error. When creating a new project it first shows app.manifest, App.xaml and MainWindow.xaml files and after a s

[2021-12-06 23:46] MikeHillberg commented on #1879
Moving this CoreWindow feature to the WindowsAppSDK repo

[2021-12-07 04:44] seanocali commented on #974
Reinstalling VCRedist didn't solve this for me. Now on WindowsAppSDK 1.0 still have the problem.

[2021-12-07 08:50] Samuel12321 commented on #1669
@DrusTheAxe @timkur
Just Thought i would add the link to the feedback Hub item https://aka.ms/AAf3d73
Let me know if you need anything else

[2021-12-07 10:26] christiannagel commented on #1849
this unblocks, thanks @DefaultRyan

[2021-12-07 18:25] aepot commented on #1877
Seems to be a problem with environment not Windows App SDK itself, just guessing.

Try reinstall .NET SDK / both Visual Studios if that works for you.

[2021-12-07 19:19] fabiant3 commented on #1514
@RealTommyKlein - can you try reproing?

[2021-12-07 19:55] huichen123 commented on #1872
This is the same remark copied from system MRT (https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.resources.resourceloader.-ctor?view=winrt-22000). I think it means the source of resources, not the PRI file. i.e. If you add resources from a resources.resw or resources.resjson, you can access them with default ResourceLoader.

[2021-12-07 20:05] riverar commented on #1872
Agree, but that assumes this API is being called from an app built with Visual Studio and/or some extra processing of those files occurs.

I think the API docs should instead simply refer to what it requires and leave the intermediate information for other docs.

[2021-12-07 22:59] btueffers commented on #11
Hi everyone! Since this was [shipped in 1.0](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/mrtcore/mrtcore-overview) we're going to go ahead and close the issue. However, if there is additional functionality you would like to see in the product please submit further feedback to our [feature portal](https://portal.productboard.com/winappsdk/1-windows-app-sdk)!

[2021-12-07 23:00] #11 closed

[2021-12-08 03:59] DeepthiCG opened #1883 "Cannot load Microsoft.WindowsAppRuntime.dll"
### Describe the bug

Cannot use dynamic dependent API like MddTryCreatePackageDependency, MddAddPackageDependency etc in a C++ application, showing errors related to Microsoft.WindowsAppRuntime.dll not found. Seems MddBootstrapInitialize cannot load this dll.

### Steps to reproduce the bug

1. Created a sample application(C++ Console App) using the steps mentioned in
https://docs.microsoft.com/e

[2021-12-08 04:23] BreeceW commented on #1124
I was trying to add the new [AppWindow](https://docs.microsoft.com/en-us/windows/windows-app-sdk/api/winrt/microsoft.ui.windowing.appwindow) to an application using XAML islands and WinUI 2.7 to get a nicer title bar. The problem is that once I added the Microsoft.WindowsAppSDK 1.0.0 package to the project (.wapproj file), it would crash on trying to create the muxc:XamlControlsResources (WinUI 2.

[2021-12-08 04:38] riverar commented on #1883
Hi @DeepthiCG, can you please edit this issue and complete it properly?

Can you also expand on what you're trying to do? You don't need to use those Mdd Add/Create APIs if you're just consuming WinAppSDK. What are you adding references to?

[2021-12-08 05:17] Ponant opened #1884 "UWP migration to WinUI3 for Windows.Storage.BulkAccess"
We are using in a production app virtualization all the way. The reason being the app allows a user to search through tens of thousands of photography images. Given the large amount of files to be displayed in the UI, the `Windows.Storage.BulkAccess` turned out to be central to make the app consume little ram while being more performant than fetching all files. In particular the `FileInformationFa

[2021-12-08 07:00] DeepthiCG commented on #1883
Hi,

Actually I want to use a framework package(WinUI2 stable) in an unpackaged application using XAML Island.
I could use WinUI2 prerelease versions, but framework packages are not supported earlier.

In the latest Windows app SDK, it is noted like unpackaged apps can use framework package like winui2 stable version.
That i tried using above steps.

I am facing issue with using "MddTryCreatePacka

[2021-12-08 08:03] HavenDV opened #1885 ""The file to be packed was not found on disk" error when some conditions."
### Describe the bug

[code]

### Steps to reproduce the bug

Conditions:
1. GeneratePackageOnBuild = true
2. shared project is used
3. shared project contains .xaml file

Repro: [H.OxyPlot-main.zip](https://github.com/microsoft/WindowsAppSDK/files/7674333/H.OxyPlot-main.zip)
Build "H.OxyPlot.WinUI" in Release mode.

### Expected behavior

_No response_

### Screenshots

_No response_

### NuGet p

[2021-12-08 10:19] Jaiganeshkumaran commented on #1884
Windows.Storage APIs aren't UWP specific. They should work in any kind of app.

[2021-12-08 12:30] yowl commented on #1732
I'm trying a combination of things, its a poor situation really.  I have the size fix from @mikehearn, plus I'm also trying to a manual add-appxpackage on shutdown of the app, if the app has detected this problem.  I've yet to try this approach in the wild though so don't know how successful it will be.  Have to try something, cant keep asking users to reinstall.

[2021-12-08 12:36] charlesjIV commented on #1732
Ya, restarting a service or the computer isn't a real solution. Do you happen to have the size fix link? @yowl

[2021-12-08 12:43] yowl commented on #1732
@charlesjIV this is the powershell that I use to fix the size of the xml:

https://github.com/MicrosoftDocs/msix-docs/issues/188#issuecomment-947967085

[2021-12-08 12:45] charlesjIV commented on #1732
Is that still working for you? I tried that solution and it didn't seem to change anything. Do you have the script in your build pipeline or your release?

[2021-12-08 12:53] yowl commented on #1732
@charlesjIV No, not always.  I think its fine for the Delivery Optimisation caching bug (that can also be fixed by a reboot), but I believe there is another bug that will prevent the appx from even attempting to check for a new version.  This later one I'm attempting to fix by running `C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe
-NonInteractive -WindowStyle Hidden -Command "add-appxp

[2021-12-08 12:58] yowl commented on #1732
I have the script in the build pipeline.

[2021-12-08 13:07] charlesjIV commented on #1732
@yowl do you have the script after the Create App Installer MSIX job?

[2021-12-08 13:09] yowl commented on #1732
Yes, it’s the step before publishing the artifact.

From: charlesjIV ***@***.***>
Sent: 08 December 2021 08:07
To: microsoft/WindowsAppSDK ***@***.***>
Cc: Scott Waye ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/WindowsAppSDK] App Installer emitting a "Unknown error (0x80D05011)" on some machines (Issue #1732)

@yowl<https://github.com/yowl> do you have the script after the Create Ap

[2021-12-08 13:22] charlesjIV commented on #1732
@yowl  How did you run the powershell script on process quit? I am new to packaging and app deployment. Sorry for all the questions.

[2021-12-08 13:45] yowl commented on #1732
@charlesjIV No problem.  When the app starts I start a thread and check the status using `RequestAddPackageByAppInstallerFileAsync`  If that returns Unknown, then I set a flag indicating that when the app shuts down it should run the fix up script (which may or not work).  I use code from http://csharptest.net/?p=526 and http://csharptest.net/?p=529 to do that.  Basically this:
[code]

[2021-12-08 13:48] yowl commented on #1732
Oh, and best not check immediately when the app starts, as it might actually be working and doing an update or checking for an update, so I wait a few minutes.

[2021-12-08 15:02] charlesjIV commented on #1732
Do you not get an error saying that the appinstaller can't install because it is in use?

[2021-12-08 15:06] yowl commented on #1732
Yes, there is https://techcommunity.microsoft.com/t5/msix-sdk/appx-appinstaller-requestaddpackagebyappinstallerfileasync/m-p/2911575 but I haven't got round to sending the logs.

[2021-12-08 16:37] charlesjIV commented on #1732
@yowl so that powershell script that runs on application close how is it going and getting the new appinstaller file from the URL because mine comes back saying that it can't install the new file due to the appinstaller file already being open to run the application. Or are you starting a service or something after the application closes to actually run the powershell script?

[2021-12-08 16:39] yowl commented on #1732
We store it in the app.confg.  Not ideal, but I couldn't see how the built in mechanism gets it.  And yes, we start the process when application exits.

[2021-12-08 16:43] charlesjIV commented on #1732
How do you start it?

[2021-12-08 16:45] yowl commented on #1732
Hook the exit event
[code]

From: charlesjIV ***@***.***>
Sent: 08 December 2021 11:44
To: microsoft/WindowsAppSDK ***@***.***>
Cc: Scott Waye ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/WindowsAppSDK] App Installer emitting a "Unknown error (0x80D05011)" on some machines (Issue #1732)

How do you start it?

—
You are receiving this because you were mentioned.
Reply to this email di

[2021-12-08 16:58] charlesjIV commented on #1732
System.Windows.Forms.Application.ApplicationExit += Shutdown;

  private void Shutdown(object sender, EventArgs e) {
            ProcessStartInfo psi = new ProcessStartInfo();
            psi.UseShellExecute = false;
            psi.RedirectStandardError = true;
            psi.RedirectStandardOutput = true;
            psi.WindowStyle = ProcessWindowStyle.Hidden;
            psi.CreateNoWindow =

[2021-12-08 17:01] yowl commented on #1732
Yes, You probably don’t need to bother with redirecting the output, but we use the same code for checking in an “About” screen where we want to see what happens.

From: charlesjIV ***@***.***>
Sent: 08 December 2021 11:59
To: microsoft/WindowsAppSDK ***@***.***>
Cc: Scott Waye ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/WindowsAppSDK] App Installer emitting a "Unknown error (0x80D05

[2021-12-08 17:03] charlesjIV commented on #1732
Ok cool. That finally worked. I am using Caliburn micro and I was attempting to do the exit event in the MainViewModel but I needed to do it in the bootstrapper I think. I am testing a build now to see what happens.

[2021-12-08 17:55] charlesjIV commented on #1732
@yowl One more question for you. You said you were using the RequestAddPackageByAppInstallerFileAsync() and that requires a Package Volume. Did you install your appinstaller into a package volume or is there another way to get that directory. Or do you just pass in null or something to that method.

[2021-12-08 18:10] yowl commented on #1732
Pass null for that.

From: charlesjIV ***@***.***>
Sent: 08 December 2021 12:56
To: microsoft/WindowsAppSDK ***@***.***>
Cc: Scott Waye ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/WindowsAppSDK] App Installer emitting a "Unknown error (0x80D05011)" on some machines (Issue #1732)

@yowl<https://github.com/yowl> One more question for you. You said you were using the RequestAddPackageB

[2021-12-08 21:27] sylveon commented on #1784
[code]

[2021-12-08 21:41] sylveon commented on #1780
This issue is caused because the Runtime Component projects create a UWP project behind the scenes, so you are limited by default to UWP APIs (iirc in earlier previews even the main WinUI app project would be a UWP project maskerading as desktop). As @riverar noticed, `DesktopCompatible` doesn't change anything build-wise, it just tells the IDE to allow adding a reference to a UWP project from a d

[2021-12-08 23:13] sylveon commented on #1780
Alternatively, it seems that merely setting `<AppContainerApplication>false</AppContainerApplication>` works as well.

[2021-12-09 01:03] andrewleader commented on #402
Thanks! We've already got the `transfer-to-platform` label on this bug, so when we decide what to do about OS API bugs, this will be on the list! Thanks for bringing it up though @duke7553!

Just an update on the bug itself - we still don't have a release planned that would include addressing this bug, but it's assigned to the right folks and they saw and acknowleded the bug and added it to their

[2021-12-09 01:05] duke7553 commented on #402
@andrewleader Not sure how I missed that. Thank you Andrew!

[2021-12-09 01:50] Jaiganeshkumaran commented on #1784
WinUI 2.x apps also have the Microsoft.UI.Xaml header, but they don't have the Microsoft.UI.Xaml header so this could be used instead: ```cpp
#if __has_include("winrt/Microsoft.UI.h")
[code]

[2021-12-09 01:50] #1784 closed

[2021-12-09 05:09] EP012014 opened #1889 "App crashes while starting if entrypoint set to <projectname>.App in Package.appxmanifest"
### Describe the bug

If you set entrypoint to the App class, the app will crash during the splash screen.

### Steps to reproduce the bug

1.Go to Package.appxmanifest and set the Entrypoint to <projectname>.App
2.Run the app in debug mode.
The app will crash before InitializeComponent with an exception in Microsoft.UI.Xaml.dll

### Expected behavior

The app starts normally and navigates to the

[2021-12-09 12:20] saravanan-2112 opened #1890 "Theme is not applied to ComboBox popup"
### Describe the bug

The theme is not applied to the ComboBox popup If we change the theme dynamically.

### Steps to reproduce the bug

1. Run the attached sample - [Theme_Issue.zip](https://github.com/microsoft/WindowsAppSDK/files/7684961/Theme_Issue.zip)
2. Click toggle theme button
3. Now, press the ComboBox DropDown button, then the popup will be opened.
4. The theme is not applied to the po

[2021-12-09 13:12] EP012014 commented on #1889
We need to use a CoreApplication because we're migrating a UWP project to WinUI3, and using the Legacy Desktop model will require a lot of workaround and will impact the UX negatively by the old-fashioned Win32 window and long starting time without Splash screen experience and so on.

[2021-12-09 19:43] Alovchin91 opened #1893 "WinUI 3: crash when UseCompactResources=true"
#### Steps to reproduce:

Using Windows App SDK 1.0, create a new WinUI 3 app. Add `UseCompactResources="True"` to existing `XamlControlsResources` in App.xaml. Run unpackaged.

#### Actual result:

Crash with the following error:

[code]

[2021-12-09 20:16] btueffers commented on #1884
Hi @Ponant! @Jaiganeshkumaran's response above is correct so we're going to close this issue. Let us know if you do run into any issues!

[2021-12-09 20:16] #1884 closed

[2021-12-09 20:22] huichen123 commented on #1883
have you installed the WindowsAppSDK runtime (step 7 in https://docs.microsoft.com/en-us/windows/apps/winui/winui3/create-your-first-winui3-app?pivots=winui3-unpackaged-cpp)?

as of the build error in your step 3, you may add this in your project file:
[code]

[2021-12-09 22:19] ankurverma85 opened #1894 "Migrating from Microsoft.WindowsAppSDK.1.0.0-experimental1 to Microsoft.WindowsAppSDK.1.0.0 crashes (UWP) app"
### Describe the bug

Attaching a zip file with both good and bad vcxproj in a solution
[test.zip](https://github.com/microsoft/WindowsAppSDK/files/7688803/test.zip)

Good -> uses Microsoft.WindowsAppSDK.1.0.0-experimental1 Runs fine (Empty WebView2)
Bad -> Uses Microsoft.WindowsAppSDK.1.0.0 .

Crashes with the following message

WinUI: Error creating an UWP Window. Creating an UWP window is not a

[2021-12-09 22:19] ankurverma85 commented on #1894
[test.zip](https://github.com/microsoft/WindowsAppSDK/files/7688802/test.zip)

[2021-12-09 22:54] andrewleader commented on #44
C# hot reload is supported in VS 2022! And it is supported in WinUI 3 apps but you have to change a project setting first, we're working on adding docs for that.

[2021-12-09 22:54] #44 closed

[2021-12-09 23:04] btueffers commented on #173
Hi everyone! The Windows App SDK and this repository is focused on desktop-based apps as per our  [announcement](https://github.com/microsoft/WindowsAppSDK/discussions/1615). UWP apps can use the Windows App SDK by migrating their project types to desktop-based projects.

[Multi-window](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/35-multiple-window-support?utm_medium=social&utm_s

[2021-12-09 23:04] #173 closed

[2021-12-09 23:06] andrewleader commented on #26
Thanks @RWeigelt for the feedback, we've captured this feedback to keep in mind for future improvements. If you have a specific API that you would like better error messages for, please submit an idea on our feature portal: https://aka.ms/winappsdkportal

Thanks!

[2021-12-09 23:06] #26 closed

[2021-12-09 23:09] btueffers commented on #302
Hi @FrayxRulez! As [announced](https://github.com/microsoft/WindowsAppSDK/discussions/1615), the Windows App SDK is focusing on desktop-based project types and we're working on making it easy to [migrate](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/overall-migration-strategy) from UWP to desktop, which will provide you the ability to access virtual webc

[2021-12-09 23:09] #302 closed

[2021-12-09 23:15] ankurverma85 commented on #1894
FWIW preview1 is "bad" as well

Only the experimental1 seems to work and it works flawless

[2021-12-09 23:18] btueffers commented on #159
Hi everyone, as [announced](https://github.com/microsoft/WindowsAppSDK/discussions/1615), the Windows App SDK is focusing on desktop-based project types and we're working on making it easy to [migrate](https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/overall-migration-strategy) from UWP to desktop, which will provide you the ability to use global shortcuts!

[2021-12-09 23:18] #159 closed

[2021-12-10 00:11] andrewleader commented on #177
Thanks Felix for suggesting this! We're tracking this feature request on our feature portal / roadmap, [it's currently in our backlog](https://portal.productboard.com/winappsdk/1-windows-app-sdk/c/61-subscribe-to-system-notification-setting-changes?utm_medium=social&utm_source=portal_share) but hopefully we can consider it at some point!

I already added your feedback and vote to this feature, but

[2021-12-10 00:11] #177 closed

[2021-12-10 00:31] andrewleader commented on #75
Thanks for this feedback everyone, I hear you, we have a lot of version numbers for the Windows OS. This feedback is related to Windows OS versioning though and not Windows App SDK, so we're going to close this issue. I've shared this feedback with some teams that own Windows OS versioning. Thanks!

[2021-12-10 00:31] #75 closed

[2021-12-10 01:36] Jaiganeshkumaran commented on #1894
UWP isn't supported as a target for 1.0.0

[2021-12-10 01:48] ankurverma85 commented on #1894
Given it works on experimental, I'm assuming

1. It has artificially been turned off (perhaps because it's not release ready, though functional)
2. There's a roadmap to get that enabled

Are these correct ?

Is there a way I can use the non-experimental package and turn it on locally ?

The experimental sdk seems to be a few months behind the released one and doesnt seem to be unified

[2021-12-10 02:39] ankurverma85 commented on #1894
Also Whats even more mind boggling is that it actually works when i run it from visual studio even though I clearly hit a "Fail-fast-exception".
The window just blinks and shows my webview.
its when I run it without debugger that the whole thing blows up.
So I'm assuming there's a way to not-artificially blow up

[2021-12-10 03:39] DeepthiCG commented on #1883
Yes, Runtime installed(Microsoft.WindowsAppRuntime.Redist.1.0.0.zip) , and the installation was success.

Thank you. Build Error mentioned step 3 solved by this. Now runtime error related to Microsoft.WindowsAppRuntime.dll not found coming.

[2021-12-10 03:41] riverar commented on #1894
@ankurverma85 It's not _artificially_ failing. And there is no way to make this scenario work with preview/1.0 bits. It's just not supported.

[2021-12-10 04:00] SeriouslyWhyIAmAGhost commented on #1226
@andrewleader @btueffers this issue should be closed because WinUI 3 is long past the Alpha phase.

[2021-12-10 04:01] SeriouslyWhyIAmAGhost commented on #68
@andrewleader @btueffers this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:03] SeriouslyWhyIAmAGhost commented on #92
@andrewleader @btueffers this issue should be closed because it belongs to xlang repo.

[2021-12-10 04:04] ankurverma85 commented on #1894
I want to believe you but I do have it working in-fact

1. WindowsAppSDK 1.0.0 it works if I continue past in the debugger
2. With WindowsAppSDK 1.0.0-experimental1 it simply works.

Which is why i attached the zip file because I'm curious about the delta.

I understand it might not be officially supported now and I'm curious when it might be become officially available.

The link you posted does

[2021-12-10 04:05] SeriouslyWhyIAmAGhost commented on #172
@andrewleader @btueffers this issue should be closed because Live tiles are in maintenance mode/not being developed actively/not present in latest and greatest windows OS release (i.e dead).

[2021-12-10 04:07] SeriouslyWhyIAmAGhost commented on #360
@Jaiganeshkumaran  Rewrite your proposal title with "**Allow Storage APIs**" instead of "**Allow UWP apps**" as most WinAPIs are `Window` types agnostic by design.

[2021-12-10 04:08] SeriouslyWhyIAmAGhost commented on #961
@andrewleader @btueffers this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:10] SeriouslyWhyIAmAGhost commented on #1225
@andrewleader @btueffers this issue should be closed because WinUI 3 is long past the Alpha phase.

[2021-12-10 04:12] SeriouslyWhyIAmAGhost commented on #151
@andrewleader @btueffers this issue should be closed because it belongs to xlang repo.

[2021-12-10 04:14] SeriouslyWhyIAmAGhost commented on #994
@andrewleader @btueffers this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:16] SeriouslyWhyIAmAGhost commented on #1228
@andrewleader @btueffers this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:18] SeriouslyWhyIAmAGhost commented on #1488
@andrewleader @btueffers this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:19] riverar commented on #1228
@SeriouslyWhyIAmAGhost Can you please stop creating new accounts and stop flooding comment attempts? Every attempt you make sends a notification to every single person watching the repository. **Please** reach out to me (rafael@withinwindows.com) via email and we can work directly with GitHub/Microsoft to fix your account status.

[2021-12-10 04:21] SeriouslyWhyIAmAGhost commented on #1487
@andrewleader @btueffers
this issue should be closed for the same  reason (`CoreWindow`)  #159 #173  #302 got closed.

[2021-12-10 04:23] riverar commented on #1894
@ankurverma85 UWP support is not coming; it's not on the roadmap. The overall migration strategy can be found at https://docs.microsoft.com/en-us/windows/apps/windows-app-sdk/migrate-to-windows-app-sdk/overall-migration-strategy.

I understand that's frustrating for some to hear. If you hit any particular gotchas (e.g. missing controls, APIs), do create an issue!

[2021-12-10 04:34] ankurverma85 commented on #1894
Interesting ... Thanks for the information

What I really actually only need is WebView2 in an UWP ? and Ideally i'd like to not create separate apps for other micrososft devices (non-desktop)

So, is this SDK along with WinUI3 only on desktop?
What about Xbox, Hololens or any other devices?

My understanding of both WinUI effort and ProjectReunion was that WinUI3 supercedes all that and so WebVie

[2021-12-10 04:41] ankurverma85 commented on #1894
Perhaps the right question (so we dont get lost in the jargons like winui, winrt, desktop, win10, uwp, msix, appx etc ) is :

As a (c++) store developer I have these options available for submitting a package:

![image](https://user-images.githubusercontent.com/31362771/145518057-fe747064-b20d-4c23-8998-2117cea7e5dc.png)

And so far the only way to create a single binary that runs across all (in C

[2021-12-10 04:51] EP012014 commented on #1889
So why the app crashes while starting and how to fix it?

[2021-12-10 05:10] riverar commented on #1894
@ankurverma85 Your questions have really opened my eyes to how poorly the documentation describes what Windows App SDK is. Sorry about the confusion.

The quick and plain English version is: Windows App SDK is a collection of APIs, frameworks, and tools to help you build **desktop apps** targeting Windows 11 and earlier (back to Windows 10 version 1809, in most cases). It doesn't currently target

[2021-12-10 06:07] ankurverma85 commented on #1894
Yes. It does. Thanks a lot for the answers

I'm starting to realize I assumed winui3 is the next version and an evolution of winui2
And got probably excited by the fact that the experimental sdk actually worked as per my flawed understanding.

Thanks again for clarifying

[2021-12-10 06:35] anovik commented on #994
Agree with closing this issue, I've migrated my app to WinUI3 desktop and this issue has gone away.

[2021-12-10 09:09] xmine64 opened #1895 "High memory allocation without freeing it"
### Describe the bug

I noticed that my WinUI 3 apps uses a lot of memory, so I tried to profile it to find the problem and then I noticed that there's a high memory usage in unmanaged memory, not in .NET heap. I have no idea, I guess it's just a memory leak in runtime. There's a screenshot from the memory profiler.

### Steps to reproduce the bug

1. Create an unpackaged multi-page app with WinUI

[2021-12-10 11:31] Jaiganeshkumaran commented on #1895
@minusium Are you using compiled bindings (x:Bind)?

[2021-12-10 11:32] Jaiganeshkumaran commented on #1487
No because it isn't CoreWindow specific.

[2021-12-10 16:37] minusium commented on #1895
Yes I do.

[2021-12-10 16:41] #994 closed

[2021-12-10 16:49] andrewleader commented on #1894
Thanks Rafael for helping clarify!

@ankurverma85 since you said what you really only need is WebView2, I would suggest looking into the [WebView2 preview for WinUI 2](https://docs.microsoft.com/en-us/microsoft-edge/webview2/get-started/winui2) as Rafael linked to! And as Rafael mentioned, we currently don't have any plans to support other platforms than Desktop with WinUI 3.

Also, to set some ex

[2021-12-10 16:49] #1894 closed

[2021-12-10 22:51] BenJKuhn commented on #1895
We've been working through some memory leak issues related to C# WinRT, event handling, and cycles. We have a servicing update coming to the 0.8 release later this month and 1.0 early next year that will incorporate quite a bit of C# /WinRT performance work. I'd love to know if that addresses the leak. If it doesn't resolve the issue I may need to get more information from you to create a minimal

[2021-12-11 00:56] ptorr-msft commented on #360
What is your motivation for using `StorageFile`?

[2021-12-11 04:09] sallyc3 commented on #1842
I use packaged app.
Still have problem in using de German string resources in setting the Windows display language to German.
en-au Australia worked before then I thought it will work for all non en-US.  Since Australia is also a version of English so it worked for all the English languages.  Once changed to non-English display language, then the resw does not work for both Xaml and CPP.  Please h

[2021-12-11 04:14] sallyc3 commented on #1842
What template do I use for packaged and unpackaged WinUI 3 in Desktop?

Blank App, Packaged (WinUI 3 in Desktop) : can not use this one.  Navigation does not work.  Filed an issue on this already.
Blank App, Packaged with WAP (WinUI 3 in Desktop) : We are using this one now.  Localization does not work for non-English resource files.
Windows Runtime Component (WinUI 3) : this is used for component

[2021-12-11 04:50] minusium commented on #1895
Thanks @BenJKuhn
But is there any workaround for now?

[2021-12-11 05:34] evelynwu-msft opened #1898 "MRT Core does not support VS's FastUpToDate check"
### Describe the bug

PRI files are not integrated into the FastUpToDate logic, so if only a `.resw` is touched in a project A that project B depends upon, VS will incorrectly believe that project B is still up-to-date relative to project A (project A does not have any up-to-date markers corresponding to its PRI file, and the PRI file is the only output that changed) and thus doesn't need to be in

[2021-12-11 08:19] GhostByIntention commented on #1124
Windows App SDK includes WinUI 3.x+ and WinUI 3.x+ Islands, not WinUI 2.x.  So By definition, Windows App SDK (that includes `AppWindow`) can only work with WinUI 3.x+  and WinUI 3.x+ Islands, not WinUI 2.x.

All WinUI 2.x  apps _will have to be_ upgraded to WinUI 3.x+ or WinUI 3.x+ Islands when it is available.

[2021-12-11 12:29] minusium commented on #1895
I tried to reproduce problem in a simple project but it was fine there, so I removed all controls from my DetailsPage on my main project and I only kept ListView, now when I open DetailsPage memory usage doesn't go higher even one MB, problem is with something else.

[2021-12-11 12:36] Jaiganeshkumaran commented on #1895
@minusium Compiled bindings (x:Bind) may also cause memory leaks especially when the bounded object outlives the page. Could you try calling Bindings.StopTracking under OnNavigatedFrom?

[2021-12-11 12:47] minusium commented on #1895
@Jaiganeshkumaran I added Bindings.StopTracking and this is the result:

![image](https://user-images.githubusercontent.com/21140798/145676910-a4d6bfc2-a103-4a3b-862d-06a6bfd5b3d4.png)

First red line is when DetailsPage is loaded, and second red line is when I navigate back.

This is memory usage when I remove all elements except the ListView that is binded to an IList:
![image](https://user-imag

[2021-12-11 19:14] minusium commented on #1895
Thanks for your help, but I could fix my problem by reimplementing my DetailsPage xaml code.
I don't know how to reproduce that, memory usage used to go high randomly, even once went to 800MB from 70MB in a navigation to DetailsPage. I simplified my layout in reimplementing it and I used less Grids and I dropped a ScrollViewer.

[2021-12-11 19:14] #1895 closed

[2021-12-11 23:08] DrusTheAxe commented on #1883
You have a C++ executable that calls `MddBootstrapInitialize` to get access to WinAppSDK's framework package and then `MddTryCreatePackageDependency` etc to access WinUI2's framework package? Do you link with `/DELAYLOAD:Microsoft.WindowsAppRuntime.dll` ?

If not then correct, your app won't load.

My apologies if some of this is old news to you. It's been a recurring question so it's worth a litt

[2021-12-11 23:14] DrusTheAxe commented on #1883
How are you ensuring lifetime management?

Do you control WinUI2 servicing on these machines, ensuring it's never serviced while in use?

Did you create something equivalent to the [DDLM](https://github.com/microsoft/WindowsAppSDK/blob/main/specs/dynamicdependencies/DynamicDependencies.md#54-packaging---microsoftwindowsappruntimedll-microsoftwindowsappruntimebootstrapdll-and-ddlm) for WinUI2?

[2021-12-11 23:32] DrusTheAxe commented on #1871
...
Then, try running the x64 Installer to prep for using an unpackaged app: https://aka.ms/windowsappsdk/1.0-stable/msix-installer

Please run the following command between these steps:

[code]

Given the installer reported

[code]

I'd expect Microsoft.WindowsAppRuntime.1.0 with a version >= 0.319.455.0 is already registered when you run the installer.

If so this is a known issue in the install

[2021-12-12 02:54] riverar commented on #1883
@DeepthiCG We need a sample project--or minimally a snippet of how you call `MddTryCreatePackageDependency`/etc. We also need you to complete the issue correctly (e.g. provide windows version, nuget version, etc.). If you can't help us, why would we help you?

[2021-12-12 11:23] Jaiganeshkumaran opened #1901 "C++/WinRT - including the Microsoft.Windows.AppLifecycle.h header file causes issues"
### Describe the bug

When you include the Microsoft.Windows.AppLifecycle.h (or any other header that starts with Microsoft.Windows), it causes issues in other AppSDK headers included after that (eg: Microsoft.UI.Xaml.h) since the generated code references types under the Windows::Foundation namespace but the compiler thinks that it's the Microsoft::Windows::Foundation namespace which doesn't exis

[2021-12-13 00:58] shelllet commented on #1702
@huichen123  [Walkthrough: Create a C#/WinRT component and consume it from C++/WinRT](https://docs.microsoft.com/en-us/windows/uwp/csharp-winrt/create-windows-runtime-component-cswinrt)

C#/Winrt compoent don't work from unpackaged app.

[2021-12-13 12:13] get-flat commented on #1565
Still present in WASDK 1.0.0

[2021-12-13 18:07] andrewleader commented on #1842
@sallyc3 can you share the link to your navigation issue?

To create an unpackaged WinUI 3 app, you have to use the _Blank App, Packaged (WinUI 3 in Desktop)_ template.

[2021-12-13 18:10] andrewleader commented on #1702
@shelllet you can use CsWinRT to create a C# WinRT component that's consumable by C++ apps, [here's some docs on that](https://github.com/microsoft/CsWinRT/blob/master/docs/authoring.md), if you have issues you can report it on [their repo](https://github.com/microsoft/CsWinRT).

[2021-12-13 18:57] huichen123 commented on #1565
The fix is in makepri.exe which is part of Windows SDK (not Windows App SDK).

[2021-12-13 19:11] AlgoRythm-Dylan opened #1905 "Graphical Artifacting With Border When Non-1 Scale, Non-Uniform Corner-Radius"
### Describe the bug

I'm using the built-in XAML canvas and some Border elements and unfortunately I seem to have noticed a specific graphical bug that will impact my application.

The simplest thing to explain this bug is a combination of steps to reproduce and the screenshot, but in essence, if your corner-radius on a Border element is not the same on all 4 corners (for example, the value `0, 0

[2021-12-13 20:20] BenJKuhn commented on #1901
This sounds like an issue with "using" statements. Can you show me your repro C++ file and/or precompiled header? I suspect the specific issue here is that since Windows isn't prefixed with "::", if you add the line "using Microsoft", the name Windows becomes ambiguous. Tthe error shown seems slightly misaligned with that interpretation, so I'd like to repro what you're seeing before jumping too f

[2021-12-14 01:56] Jaiganeshkumaran commented on #1901
@BenJKuhn I'm not "using Microsoft" inside the precompiled header and the error occurs only inside the Microsoft namespace.

[2021-12-14 14:14] JosHuybrighs opened #1909 "Multithreading issue when setting a key/value in ApplicationData.Current.LocalSettings"
### Describe the bug

I am porting a UWP/win32 desktop bridge app to WinUI 3 Desktop (MSIX packaged, WinUI 3 v1.0 stable) and are getting the following exception when assigning a composite value to ApplicationData.Current.LocalSettings from within a background task.

`The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E (RPC_E_WRONG_TH

[2021-12-14 17:21] ChasTechProjects opened #1910 "WebView2 unable to connect to any websites"
### Describe the bug

I am attempting to code a small web browser in Visual Studio 2019 using the Windows App SDK, WinUI3, and C#. In my MainPage.xaml, I have WebView2 defined as myWebView, with the source set to go to http://google.com. However, when I run the app, it stays on a blank page for a while and then loads the Microsoft Edge "ERR_NAME_NOT_RESOLVED" error page. I have tried this with sev

[2021-12-14 17:58] BenJKuhn commented on #449
At the moment it looks like our nightly builds aren't building debug builds of any flavor. That said, it would probably make more sense to build x64 as debug. I don't think I would build anything else on a scheduled basis, just out of resource usage considerations.

[2021-12-14 18:17] DrusTheAxe commented on #449
That's new. We used to build some debug (x86?). I know because I questioned (on multiple occasions) why we were building some debug flavors but not others (and why the least-useful flavor)

I 2nd the motion for standard debug x64 builds

Can one manually trigger a pipeline to create other debug flavors? If not, can we add that option?

   - Howard
________________________________
From: Ben Kuhn **

[2021-12-14 18:23] DrusTheAxe commented on #1909
Protects how?  Blocking threads with native mutex/etc can intersect (badly) with COM reentrancy. Does this use [CoWaitForMultipleObjects](https://docs.microsoft.com/windows/win32/api/combaseapi/nf-combaseapi-cowaitformultipleobjects) or equivalent COM reentrancy savvy APIs?

Could you share this semaphoring singleton code?